In [1]:
import os
import chardet
import numpy as np
import pandas as pd
import joblib

In [2]:
os.getcwd()

'C:\\Users\\hdsce\\Documents\\PythonDataAnalysis1\\live'

In [3]:
os.chdir('../data')

In [4]:
os.listdir()

['App_Usage.csv',
 'APT_Detail_Seoul_2022.csv',
 'APT_Detail_Seoul_2022.xlsx',
 'APT_Merged.csv',
 'APT_Merged.xlsx',
 'APT_Prep.csv',
 'APT_Price_Seoul_2020_2022.csv',
 'APT_Price_Seoul_2020_2022.xlsx',
 'APT_Price_Seoul_Copy.xlsx',
 'NA_Sample.xlsx',
 'Online_Mall.csv',
 'test.xlsx']

In [5]:
fileName = 'APT_Prep.csv'

In [6]:
with open(file = fileName, mode = 'rb') as file:
    text = file.read()

In [7]:
text[:100]

b'\xec\x95\x84\xed\x8c\x8c\xed\x8a\xb8,\xec\x8b\x9c,\xea\xb5\xac,\xeb\x8f\x99,\xec\xa7\x80\xeb\xb2\x88,\xea\xb1\xb4\xec\xb6\x95\xeb\x85\x84\xeb\x8f\x84,\xea\xb1\xb0\xeb\x9e\x98\xec\x9d\xbc,\xec\xa0\x84\xec\x9a\xa9\xeb\xa9\xb4\xec\xa0\x81,\xec\xb8\xb5,\xea\xb1\xb0\xeb\x9e\x98\xea\xb8\x88\xec\x95\xa1\r\n\xec\x8b\xa0\xeb\x8f\x99\xec\x95\x84\xeb\xb8\x94\xeb\xa3\xa8\xec\x95'

In [8]:
chardet.detect(text)

{'encoding': 'utf-8', 'confidence': 0.99, 'language': ''}

In [11]:
price = pd.read_csv(fileName, encoding = 'UTF-8', parse_dates = ['거래일'])

In [12]:
price.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 139917 entries, 0 to 139916
Data columns (total 10 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   아파트     139917 non-null  object
 1   시       139917 non-null  object
 2   구       139917 non-null  object
 3   동       139917 non-null  object
 4   지번      139917 non-null  object
 5   건축년도    139917 non-null  int64
 6   거래일     139917 non-null  datetime64[ns]
 7   전용면적    139917 non-null  float64
 8   층       139917 non-null  int64
 9   거래금액    139917 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(3), object(5)
memory usage: 10.7+ MB

In [13]:
price.head()

,아파트,시,구,동,지번,건축년도,거래일,전용면적,층,거래금액
0,신동아블루아광화문의꿈,서울특별시,종로구,필운동,254,2007,2020-01-03,111.97,6,100000
1,광화문스페이스본(106동),서울특별시,종로구,사직동,9-1,2008,2020-01-02,163.33,2,162000
2,세종로대우,서울특별시,종로구,내수동,167,1994,2020-01-06,109.91,11,88000
3,킹스매너,서울특별시,종로구,내수동,110-15,2004,2020-01-09,194.43,4,130000
4,경희궁파크팰리스,서울특별시,종로구,내수동,95,2003,2020-01-20,148.09,8,149000

In [14]:
price['평당금액'] = price['거래금액'] / price['전용면적'] * 3.3

In [15]:
price.head()

,아파트,시,구,동,지번,건축년도,거래일,전용면적,층,거래금액,평당금액
0,신동아블루아광화문의꿈,서울특별시,종로구,필운동,254,2007,2020-01-03,111.97,6,100000,2947.218005
1,광화문스페이스본(106동),서울특별시,종로구,사직동,9-1,2008,2020-01-02,163.33,2,162000,3273.128023
2,세종로대우,서울특별시,종로구,내수동,167,1994,2020-01-06,109.91,11,88000,2642.161769
3,킹스매너,서울특별시,종로구,내수동,110-15,2004,2020-01-09,194.43,4,130000,2206.449622
4,경희궁파크팰리스,서울특별시,종로구,내수동,95,2003,2020-01-20,148.09,8,149000,3320.278209

In [16]:
price['평당금액'].round(3)

0         2947.218
1         3273.128
2         2642.162
3         2206.450
4         3320.278
            ...
139912    2938.508
139913    4005.575
139914    4260.563
139915    2298.248
139916    3025.504
Name: 평당금액, Length: 139917, dtype: float64

In [22]:
pd.options.display.precision = 3

In [23]:
price['평당금액']

0         2947.218
1         3273.128
2         2642.162
3         2206.450
4         3320.278
            ...
139912    2938.508
139913    4005.575
139914    4260.563
139915    2298.248
139916    3025.504
Name: 평당금액, Length: 139917, dtype: float64

In [24]:
price.head()

,아파트,시,구,동,지번,건축년도,거래일,전용면적,층,거래금액,평당금액
0,신동아블루아광화문의꿈,서울특별시,종로구,필운동,254,2007,2020-01-03,111.97,6,100000,2947.218
1,광화문스페이스본(106동),서울특별시,종로구,사직동,9-1,2008,2020-01-02,163.33,2,162000,3273.128
2,세종로대우,서울특별시,종로구,내수동,167,1994,2020-01-06,109.91,11,88000,2642.162
3,킹스매너,서울특별시,종로구,내수동,110-15,2004,2020-01-09,194.43,4,130000,2206.450
4,경희궁파크팰리스,서울특별시,종로구,내수동,95,2003,2020-01-20,148.09,8,149000,3320.278

In [25]:
price['거래금액'] = price['거래금액'] / 10000

In [26]:
price.head()

,아파트,시,구,동,지번,건축년도,거래일,전용면적,층,거래금액,평당금액
0,신동아블루아광화문의꿈,서울특별시,종로구,필운동,254,2007,2020-01-03,111.97,6,10.0,2947.218
1,광화문스페이스본(106동),서울특별시,종로구,사직동,9-1,2008,2020-01-02,163.33,2,16.2,3273.128
2,세종로대우,서울특별시,종로구,내수동,167,1994,2020-01-06,109.91,11,8.8,2642.162
3,킹스매너,서울특별시,종로구,내수동,110-15,2004,2020-01-09,194.43,4,13.0,2206.450
4,경희궁파크팰리스,서울특별시,종로구,내수동,95,2003,2020-01-20,148.09,8,14.9,3320.278

In [34]:
pd.reset_option('display.precision')

In [35]:
price.head()

,아파트,시,구,동,지번,건축년도,거래일,전용면적,층,거래금액,평당금액
0,신동아블루아광화문의꿈,서울특별시,종로구,필운동,254,2007,2020-01-03,111.97,6,10.0,2947.218005
1,광화문스페이스본(106동),서울특별시,종로구,사직동,9-1,2008,2020-01-02,163.33,2,16.2,3273.128023
2,세종로대우,서울특별시,종로구,내수동,167,1994,2020-01-06,109.91,11,8.8,2642.161769
3,킹스매너,서울특별시,종로구,내수동,110-15,2004,2020-01-09,194.43,4,13.0,2206.449622
4,경희궁파크팰리스,서울특별시,종로구,내수동,95,2003,2020-01-20,148.09,8,14.9,3320.278209

In [36]:
price['거래년도'] = price['거래일'].dt.year

In [37]:
price['경과년수'] = price['거래년도'] - price['건축년도']

In [38]:
price.head()

,아파트,시,구,동,지번,건축년도,거래일,전용면적,층,거래금액,평당금액,거래년도,경과년수
0,신동아블루아광화문의꿈,서울특별시,종로구,필운동,254,2007,2020-01-03,111.97,6,10.0,2947.218005,2020,13
1,광화문스페이스본(106동),서울특별시,종로구,사직동,9-1,2008,2020-01-02,163.33,2,16.2,3273.128023,2020,12
2,세종로대우,서울특별시,종로구,내수동,167,1994,2020-01-06,109.91,11,8.8,2642.161769,2020,26
3,킹스매너,서울특별시,종로구,내수동,110-15,2004,2020-01-09,194.43,4,13.0,2206.449622,2020,16
4,경희궁파크팰리스,서울특별시,종로구,내수동,95,2003,2020-01-20,148.09,8,14.9,3320.278209,2020,17

In [39]:
price['거래월'] = price['거래일'].dt.strftime('%m월')

In [40]:
price.head()

,아파트,시,구,동,지번,건축년도,거래일,전용면적,층,거래금액,평당금액,거래년도,경과년수,거래월
0,신동아블루아광화문의꿈,서울특별시,종로구,필운동,254,2007,2020-01-03,111.97,6,10.0,2947.218005,2020,13,01월
1,광화문스페이스본(106동),서울특별시,종로구,사직동,9-1,2008,2020-01-02,163.33,2,16.2,3273.128023,2020,12,01월
2,세종로대우,서울특별시,종로구,내수동,167,1994,2020-01-06,109.91,11,8.8,2642.161769,2020,26,01월
3,킹스매너,서울특별시,종로구,내수동,110-15,2004,2020-01-09,194.43,4,13.0,2206.449622,2020,16,01월
4,경희궁파크팰리스,서울특별시,종로구,내수동,95,2003,2020-01-20,148.09,8,14.9,3320.278209,2020,17,01월

In [41]:
locs = price['평당금액'].ge(5000)
locs

0         False
1         False
2         False
3         False
4         False
          ...
139912    False
139913    False
139914    False
139915    False
139916    False
Name: 평당금액, Length: 139917, dtype: bool

In [53]:
np.where(locs)

(array([    52,     53,    148, ..., 139900, 139903, 139905], dtype=int64),)

In [43]:
price['금액구간'] = np.where(locs, '5천 이상', '5천 미만')

In [45]:
price.head()

,아파트,시,구,동,지번,건축년도,거래일,전용면적,층,거래금액,평당금액,거래년도,경과년수,거래월,금액구간
0,신동아블루아광화문의꿈,서울특별시,종로구,필운동,254,2007,2020-01-03,111.97,6,10.0,2947.218005,2020,13,01월,5천 미만
1,광화문스페이스본(106동),서울특별시,종로구,사직동,9-1,2008,2020-01-02,163.33,2,16.2,3273.128023,2020,12,01월,5천 미만
2,세종로대우,서울특별시,종로구,내수동,167,1994,2020-01-06,109.91,11,8.8,2642.161769,2020,26,01월,5천 미만
3,킹스매너,서울특별시,종로구,내수동,110-15,2004,2020-01-09,194.43,4,13.0,2206.449622,2020,16,01월,5천 미만
4,경희궁파크팰리스,서울특별시,종로구,내수동,95,2003,2020-01-20,148.09,8,14.9,3320.278209,2020,17,01월,5천 미만

In [47]:
imsi = price.drop(columns = ['금액구간']).copy()

In [48]:
imsi.head()

,아파트,시,구,동,지번,건축년도,거래일,전용면적,층,거래금액,평당금액,거래년도,경과년수,거래월
0,신동아블루아광화문의꿈,서울특별시,종로구,필운동,254,2007,2020-01-03,111.97,6,10.0,2947.218005,2020,13,01월
1,광화문스페이스본(106동),서울특별시,종로구,사직동,9-1,2008,2020-01-02,163.33,2,16.2,3273.128023,2020,12,01월
2,세종로대우,서울특별시,종로구,내수동,167,1994,2020-01-06,109.91,11,8.8,2642.161769,2020,26,01월
3,킹스매너,서울특별시,종로구,내수동,110-15,2004,2020-01-09,194.43,4,13.0,2206.449622,2020,16,01월
4,경희궁파크팰리스,서울특별시,종로구,내수동,95,2003,2020-01-20,148.09,8,14.9,3320.278209,2020,17,01월

In [52]:
# imsi에 '금액구간' 열이 없지만 아래 코드를 통해 새로 추가됩니다.
imsi.loc[imsi['평당금액'].ge(5000), '금액구간'] = '5천 이상'

,아파트,시,구,동,지번,건축년도,거래일,전용면적,층,거래금액,평당금액,거래년도,경과년수,거래월,금액구간
139897,고덕그라시움,서울특별시,강동구,고덕동,693,2019,2022-12-20,59.7850,20,10.05,5547.378105,2022,3,12월,5천 이상
139898,고덕그라시움,서울특별시,강동구,고덕동,693,2019,2022-12-24,84.0460,33,14.30,5614.782381,2022,3,12월,5천 이상
139899,고덕자이,서울특별시,강동구,상일동,521,2021,2022-12-02,59.9398,23,9.60,5285.302921,2022,1,12월,5천 이상
139900,고덕아르테온,서울특별시,강동구,상일동,519,2020,2022-12-02,59.9800,10,9.80,5391.797266,2022,2,12월,5천 이상
139901,고덕리엔파크3단지,서울특별시,강동구,상일동,490,2011,2022-12-03,84.9800,8,9.18,3564.838786,2022,11,12월,NaN
139902,고덕센트럴IPARK,서울특별시,강동구,상일동,513,2019,2022-12-04,84.9700,5,11.90,4621.631164,2022,3,12월,NaN
139903,고덕아르테온,서울특별시,강동구,상일동,519,2020,2022-12-06,84.9500,15,12.95,5030.606239,2022,2,12월,5천 이상
139904,고덕센트럴IPARK,서울특별시,강동구,상일동,513,2019,2022-12-17,74.8800,9,10.90,4803.685897,2022,3,12월,NaN
139905,고덕아르테온,서울특별시,강동구,상일동,519,2020,2022-12-17,59.9800,17,10.50,5776.925642,2022,2,12월,5천 이상
139906,청광플러스원(큐브1차),서울특별시,강동구,길동,387-5,2012,2022-12-16,17.0750,7,0.87,1681.405564,2022,10,12월,NaN
139907,청광플러스원(큐브1차),서울특별시,강동구,길동,387-5,2012,2022-12-16,16.6850,9,0.85,1681.150734,2022,10,12월,NaN
139908,현대웰하임(201동),서울특별시,강동구,길동,343-2,2012,2022-12-19,13.1090,5,1.00,2517.354489,2022,10,12월,NaN
139909,청광플러스원(큐브1차),서울특별시,강동구,길동,387-5,2012,2022-12-20,17.0750,11,1.10,2125.915081,2022,10,12월,NaN
139910,선사현대아파트,서울특별시,강동구,암사동,509,2000,2022-12-02,58.6800,25,7.60,4274.028630,2022,22,12월,NaN
139911,중앙하이츠,서울특별시,강동구,암사동,493-14,1998,2022-12-03,59.5200,8,5.30,2938.508065,2022,24,12월,NaN
139912,중앙하이츠,서울특별시,강동구,암사동,493-14,1998,2022-12-03,59.5200,8,5.30,2938.508065,2022,24,12월,NaN
139913,롯데캐슬퍼스트,서울특별시,강동구,암사동,414-2,2008,2022-12-06,111.2200,10,13.50,4005.574537,2022,14,12월,NaN
139914,선사현대아파트,서울특별시,강동구,암사동,509,2000,2022-12-10,59.6400,17,7.70,4260.563380,2022,22,12월,NaN
139915,파크뷰진도맨션,서울특별시,강동구,성내동,452-2,1996,2022-12-06,208.9200,18,14.55,2298.248133,2022,26,12월,NaN
139916,강동리버스트4단지,서울특별시,강동구,강일동,114,2020,2022-12-29,59.9900,7,5.50,3025.504251,2022,2,12월,NaN

In [54]:
imsi.loc[imsi['평당금액'].lt(5000), '금액구간'] = '5천 미만'

In [55]:
price['주소'] = price['시'] + ' ' + price['구'] + ' ' \
                + price['동'] + ' ' + price['지번']

In [56]:
price.head()

,아파트,시,구,동,지번,건축년도,거래일,전용면적,층,거래금액,평당금액,거래년도,경과년수,거래월,금액구간,주소
0,신동아블루아광화문의꿈,서울특별시,종로구,필운동,254,2007,2020-01-03,111.97,6,10.0,2947.218005,2020,13,01월,5천 미만,서울특별시 종로구 필운동 254
1,광화문스페이스본(106동),서울특별시,종로구,사직동,9-1,2008,2020-01-02,163.33,2,16.2,3273.128023,2020,12,01월,5천 미만,서울특별시 종로구 사직동 9-1
2,세종로대우,서울특별시,종로구,내수동,167,1994,2020-01-06,109.91,11,8.8,2642.161769,2020,26,01월,5천 미만,서울특별시 종로구 내수동 167
3,킹스매너,서울특별시,종로구,내수동,110-15,2004,2020-01-09,194.43,4,13.0,2206.449622,2020,16,01월,5천 미만,서울특별시 종로구 내수동 110-15
4,경희궁파크팰리스,서울특별시,종로구,내수동,95,2003,2020-01-20,148.09,8,14.9,3320.278209,2020,17,01월,5천 미만,서울특별시 종로구 내수동 95

In [62]:
sen = '서울특별시 강남구 역삼동 1'

In [63]:
strs = sen.split()

In [65]:
' '.join(strs)

'서울특별시 강남구 역삼동 1'

In [66]:
lambda x: ' '.join(x)

'서울특별시 강남구 역삼동 1'

In [68]:
cols = ['시', '구', '동', '지번']
price[cols]

            시    구    동      지번
0       서울특별시  종로구  필운동     254
1       서울특별시  종로구  사직동     9-1
2       서울특별시  종로구  내수동     167
3       서울특별시  종로구  내수동  110-15
4       서울특별시  종로구  내수동      95
...       ...  ...  ...     ...
139912  서울특별시  강동구  암사동  493-14
139913  서울특별시  강동구  암사동   414-2
139914  서울특별시  강동구  암사동     509
139915  서울특별시  강동구  성내동   452-2
139916  서울특별시  강동구  강일동     114

[139917 rows x 4 columns]

In [69]:
price[cols].apply(func = lambda x: ' '.join(x), axis = 1)

0            서울특별시 종로구 필운동 254
1            서울특별시 종로구 사직동 9-1
2            서울특별시 종로구 내수동 167
3         서울특별시 종로구 내수동 110-15
4             서울특별시 종로구 내수동 95
                  ...
139912    서울특별시 강동구 암사동 493-14
139913     서울특별시 강동구 암사동 414-2
139914       서울특별시 강동구 암사동 509
139915     서울특별시 강동구 성내동 452-2
139916       서울특별시 강동구 강일동 114
Length: 139917, dtype: object

In [70]:
price['아파트']

0            신동아블루아광화문의꿈
1         광화문스페이스본(106동)
2                  세종로대우
3                   킹스매너
4               경희궁파크팰리스
               ...
139912             중앙하이츠
139913           롯데캐슬퍼스트
139914           선사현대아파트
139915           파크뷰진도맨션
139916         강동리버스트4단지
Name: 아파트, Length: 139917, dtype: object

In [71]:
price['아파트'].map(len)

0         11
1         14
2          5
3          4
4          8
          ..
139912     5
139913     7
139914     7
139915     7
139916     9
Name: 아파트, Length: 139917, dtype: int64

In [72]:
price[cols]

            시    구    동      지번
0       서울특별시  종로구  필운동     254
1       서울특별시  종로구  사직동     9-1
2       서울특별시  종로구  내수동     167
3       서울특별시  종로구  내수동  110-15
4       서울특별시  종로구  내수동      95
...       ...  ...  ...     ...
139912  서울특별시  강동구  암사동  493-14
139913  서울특별시  강동구  암사동   414-2
139914  서울특별시  강동구  암사동     509
139915  서울특별시  강동구  성내동   452-2
139916  서울특별시  강동구  강일동     114

[139917 rows x 4 columns]

In [73]:
price[cols].apply(len, axis = 1)

0         4
1         4
2         4
3         4
4         4
         ..
139912    4
139913    4
139914    4
139915    4
139916    4
Length: 139917, dtype: int64

In [74]:
price[cols].apply(len, axis = 0)

시     139917
구     139917
동     139917
지번    139917
dtype: int64

In [76]:
price[cols].applymap(len)

        시  구  동  지번
0       5  3  3   3
1       5  3  3   3
2       5  3  3   3
3       5  3  3   6
4       5  3  3   2
...    .. .. ..  ..
139912  5  3  3   6
139913  5  3  3   5
139914  5  3  3   3
139915  5  3  3   5
139916  5  3  3   3

[139917 rows x 4 columns]

In [77]:
price['층'].sort_values()

17278     -3
49742     -3
31734     -2
49607     -2
29747     -2
          ..
122507    64
69573     66
110650    66
50867     66
55000     67
Name: 층, Length: 139917, dtype: int64

In [78]:
price['층'].sort_values(ascending=False)

55000     67
110650    66
50867     66
69573     66
137285    64
          ..
49607     -2
45769     -2
52683     -2
17278     -3
49742     -3
Name: 층, Length: 139917, dtype: int64

In [79]:
price.sort_values(by = ['층'])

,아파트,시,구,동,지번,건축년도,거래일,전용면적,층,거래금액,평당금액,거래년도,경과년수,거래월,금액구간,주소
17278,은평뉴타운우물골(두산위브7단지),서울특별시,은평구,진관동,84,2010,2020-03-20,134.5100,-3,8.20,2011.746339,2020,10,03월,5천 미만,서울특별시 은평구 진관동 84
49742,은평뉴타운우물골(두산위브7단지),서울특별시,은평구,진관동,84,2010,2020-07-23,134.5100,-3,10.40,2551.483161,2020,10,07월,5천 미만,서울특별시 은평구 진관동 84
31734,롯데캐슬골든힐스,서울특별시,성북구,길음동,1287-1,2019,2020-06-27,59.8946,-2,7.45,4104.710608,2020,1,06월,5천 미만,서울특별시 성북구 길음동 1287-1
49607,은평뉴타운우물골(두산위브7단지),서울특별시,은평구,진관동,84,2010,2020-07-01,101.9900,-2,9.47,3064.123934,2020,10,07월,5천 미만,서울특별시 은평구 진관동 84
29747,옥수파크힐스101동~116동,서울특별시,성동구,옥수동,528,2016,2020-06-30,76.6600,-2,16.75,7210.409601,2020,4,06월,5천 이상,서울특별시 성동구 옥수동 528
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122507,타워팰리스1,서울특별시,강남구,도곡동,467,2002,2021-09-30,222.4800,64,48.25,7156.823085,2021,19,09월,5천 이상,서울특별시 강남구 도곡동 467
69573,타워팰리스3,서울특별시,강남구,도곡동,467-29,2004,2020-10-27,185.6220,66,38.00,6755.664738,2020,16,10월,5천 이상,서울특별시 강남구 도곡동 467-29
110650,타워팰리스3,서울특별시,강남구,도곡동,467-29,2004,2021-06-24,214.9670,66,45.80,7030.846595,2021,17,06월,5천 이상,서울특별시 강남구 도곡동 467-29
50867,현대하이페리온,서울특별시,양천구,목동,916,2003,2020-07-03,154.0500,66,24.00,5141.187926,2020,17,07월,5천 이상,서울특별시 양천구 목동 916
55000,타워팰리스3,서울특별시,강남구,도곡동,467-29,2004,2020-07-25,235.7400,67,54.25,7594.171545,2020,16,07월,5천 이상,서울특별시 강남구 도곡동 467-29

In [80]:
price.sort_values(by = ['층'], ascending = False)

,아파트,시,구,동,지번,건축년도,거래일,전용면적,층,거래금액,평당금액,거래년도,경과년수,거래월,금액구간,주소
55000,타워팰리스3,서울특별시,강남구,도곡동,467-29,2004,2020-07-25,235.740,67,54.25,7594.171545,2020,16,07월,5천 이상,서울특별시 강남구 도곡동 467-29
110650,타워팰리스3,서울특별시,강남구,도곡동,467-29,2004,2021-06-24,214.967,66,45.80,7030.846595,2021,17,06월,5천 이상,서울특별시 강남구 도곡동 467-29
50867,현대하이페리온,서울특별시,양천구,목동,916,2003,2020-07-03,154.050,66,24.00,5141.187926,2020,17,07월,5천 이상,서울특별시 양천구 목동 916
69573,타워팰리스3,서울특별시,강남구,도곡동,467-29,2004,2020-10-27,185.622,66,38.00,6755.664738,2020,16,10월,5천 이상,서울특별시 강남구 도곡동 467-29
137285,타워팰리스3,서울특별시,강남구,도곡동,467-29,2004,2022-08-29,244.224,64,64.00,8647.798742,2022,18,08월,5천 이상,서울특별시 강남구 도곡동 467-29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49607,은평뉴타운우물골(두산위브7단지),서울특별시,은평구,진관동,84,2010,2020-07-01,101.990,-2,9.47,3064.123934,2020,10,07월,5천 미만,서울특별시 은평구 진관동 84
45769,옥수파크힐스101동~116동,서울특별시,성동구,옥수동,528,2016,2020-07-30,107.990,-2,22.00,6722.844708,2020,4,07월,5천 이상,서울특별시 성동구 옥수동 528
52683,천왕연지타운2단지,서울특별시,구로구,천왕동,281,2014,2020-07-02,84.780,-2,6.77,2635.173390,2020,6,07월,5천 미만,서울특별시 구로구 천왕동 281
17278,은평뉴타운우물골(두산위브7단지),서울특별시,은평구,진관동,84,2010,2020-03-20,134.510,-3,8.20,2011.746339,2020,10,03월,5천 미만,서울특별시 은평구 진관동 84
49742,은평뉴타운우물골(두산위브7단지),서울특별시,은평구,진관동,84,2010,2020-07-23,134.510,-3,10.40,2551.483161,2020,10,07월,5천 미만,서울특별시 은평구 진관동 84

In [81]:
price.sort_values(by = ['층', '거래금액'], ascending = False)

,아파트,시,구,동,지번,건축년도,거래일,전용면적,층,거래금액,평당금액,거래년도,경과년수,거래월,금액구간,주소
55000,타워팰리스3,서울특별시,강남구,도곡동,467-29,2004,2020-07-25,235.7400,67,54.25,7594.171545,2020,16,07월,5천 이상,서울특별시 강남구 도곡동 467-29
110650,타워팰리스3,서울특별시,강남구,도곡동,467-29,2004,2021-06-24,214.9670,66,45.80,7030.846595,2021,17,06월,5천 이상,서울특별시 강남구 도곡동 467-29
69573,타워팰리스3,서울특별시,강남구,도곡동,467-29,2004,2020-10-27,185.6220,66,38.00,6755.664738,2020,16,10월,5천 이상,서울특별시 강남구 도곡동 467-29
50867,현대하이페리온,서울특별시,양천구,목동,916,2003,2020-07-03,154.0500,66,24.00,5141.187926,2020,17,07월,5천 이상,서울특별시 양천구 목동 916
137285,타워팰리스3,서울특별시,강남구,도곡동,467-29,2004,2022-08-29,244.2240,64,64.00,8647.798742,2022,18,08월,5천 이상,서울특별시 강남구 도곡동 467-29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49607,은평뉴타운우물골(두산위브7단지),서울특별시,은평구,진관동,84,2010,2020-07-01,101.9900,-2,9.47,3064.123934,2020,10,07월,5천 미만,서울특별시 은평구 진관동 84
31734,롯데캐슬골든힐스,서울특별시,성북구,길음동,1287-1,2019,2020-06-27,59.8946,-2,7.45,4104.710608,2020,1,06월,5천 미만,서울특별시 성북구 길음동 1287-1
52683,천왕연지타운2단지,서울특별시,구로구,천왕동,281,2014,2020-07-02,84.7800,-2,6.77,2635.173390,2020,6,07월,5천 미만,서울특별시 구로구 천왕동 281
49742,은평뉴타운우물골(두산위브7단지),서울특별시,은평구,진관동,84,2010,2020-07-23,134.5100,-3,10.40,2551.483161,2020,10,07월,5천 미만,서울특별시 은평구 진관동 84
17278,은평뉴타운우물골(두산위브7단지),서울특별시,은평구,진관동,84,2010,2020-03-20,134.5100,-3,8.20,2011.746339,2020,10,03월,5천 미만,서울특별시 은평구 진관동 84

In [82]:
price.sort_values(by = ['층', '거래금액'], ascending = [False, True])

,아파트,시,구,동,지번,건축년도,거래일,전용면적,층,거래금액,평당금액,거래년도,경과년수,거래월,금액구간,주소
55000,타워팰리스3,서울특별시,강남구,도곡동,467-29,2004,2020-07-25,235.740,67,54.25,7594.171545,2020,16,07월,5천 이상,서울특별시 강남구 도곡동 467-29
50867,현대하이페리온,서울특별시,양천구,목동,916,2003,2020-07-03,154.050,66,24.00,5141.187926,2020,17,07월,5천 이상,서울특별시 양천구 목동 916
69573,타워팰리스3,서울특별시,강남구,도곡동,467-29,2004,2020-10-27,185.622,66,38.00,6755.664738,2020,16,10월,5천 이상,서울특별시 강남구 도곡동 467-29
110650,타워팰리스3,서울특별시,강남구,도곡동,467-29,2004,2021-06-24,214.967,66,45.80,7030.846595,2021,17,06월,5천 이상,서울특별시 강남구 도곡동 467-29
93843,타워팰리스3,서울특별시,강남구,도곡동,467-29,2004,2021-02-10,214.967,64,46.00,7061.548982,2021,17,02월,5천 이상,서울특별시 강남구 도곡동 467-29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49607,은평뉴타운우물골(두산위브7단지),서울특별시,은평구,진관동,84,2010,2020-07-01,101.990,-2,9.47,3064.123934,2020,10,07월,5천 미만,서울특별시 은평구 진관동 84
29747,옥수파크힐스101동~116동,서울특별시,성동구,옥수동,528,2016,2020-06-30,76.660,-2,16.75,7210.409601,2020,4,06월,5천 이상,서울특별시 성동구 옥수동 528
45769,옥수파크힐스101동~116동,서울특별시,성동구,옥수동,528,2016,2020-07-30,107.990,-2,22.00,6722.844708,2020,4,07월,5천 이상,서울특별시 성동구 옥수동 528
17278,은평뉴타운우물골(두산위브7단지),서울특별시,은평구,진관동,84,2010,2020-03-20,134.510,-3,8.20,2011.746339,2020,10,03월,5천 미만,서울특별시 은평구 진관동 84
49742,은평뉴타운우물골(두산위브7단지),서울특별시,은평구,진관동,84,2010,2020-07-23,134.510,-3,10.40,2551.483161,2020,10,07월,5천 미만,서울특별시 은평구 진관동 84

In [83]:
price['거래금액'].count()

139917

In [84]:
price['거래금액'].sum()

1277873.9268999998

In [85]:
price['거래금액'].mean()

9.133085521416268

In [86]:
price['거래금액'].std()

6.747949076315124

In [87]:
price['거래금액'].min()

0.6

In [88]:
price['거래금액'].max()

145.0

In [89]:
price.groupby(by = ['거래년도'])['거래금액'].count()

거래년도
2020    84294
2021    43420
2022    12203
Name: 거래금액, dtype: int64

In [90]:
price.groupby(by = ['거래년도'])['거래금액'].sum()

거래년도
2020    713033.1645
2021    445931.3192
2022    118909.4432
Name: 거래금액, dtype: float64

In [91]:
price.groupby(by = ['거래년도'])['거래금액'].mean()

거래년도
2020     8.458884
2021    10.270182
2022     9.744280
Name: 거래금액, dtype: float64

In [92]:
price.groupby(by = ['거래년도'])['거래금액'].std()

거래년도
2020    5.683750
2021    7.510029
2022    9.495091
Name: 거래금액, dtype: float64

In [93]:
price.groupby(by = ['거래년도'])['거래금액'].min()

거래년도
2020    0.60
2021    0.66
2022    0.67
Name: 거래금액, dtype: float64

In [94]:
price.groupby(by = ['거래년도'])['거래금액'].max()

거래년도
2020     77.5
2021    120.0
2022    145.0
Name: 거래금액, dtype: float64

In [112]:
pvt = pd.pivot_table(
    data = price, 
    values = '거래금액', 
    index = '거래년도', 
    aggfunc = [np.size, np.sum, np.mean, np.std, np.min, np.max]
)
pvt

       size         sum    mean    std  amin   amax
       거래금액        거래금액    거래금액   거래금액  거래금액   거래금액
거래년도
2020  84294  713033.164   8.459  5.684  0.60   77.5
2021  43420  445931.319  10.270  7.510  0.66  120.0
2022  12203  118909.443   9.744  9.495  0.67  145.0

In [113]:
pvt.columns

MultiIndex([('size', '거래금액'),
            ( 'sum', '거래금액'),
            ('mean', '거래금액'),
            ( 'std', '거래금액'),
            ('amin', '거래금액'),
            ('amax', '거래금액')],
           )

In [118]:
pvt[('size', '거래금액(원)')] = [f'{i:,}원' for i in pvt[('size', '거래금액')]]

In [119]:
pvt

       size         sum    mean    std  amin   amax     size
       거래금액        거래금액    거래금액   거래금액  거래금액   거래금액  거래금액(원)
거래년도
2020  84294  713033.164   8.459  5.684  0.60   77.5  84,294원
2021  43420  445931.319  10.270  7.510  0.66  120.0  43,420원
2022  12203  118909.443   9.744  9.495  0.67  145.0  12,203원

In [102]:
pd.options.display.precision = 3

In [121]:
pd.pivot_table(
    data = price, 
    values = '거래금액', 
    index = ['구', '동'], 
    columns = '거래년도', 
    aggfunc = [np.size, np.mean, np.std]
)

          size                  mean                    std
거래년도      2020   2021   2022    2020    2021    2022   2020    2021    2022
구   동
강남구 개포동  440.0  260.0   62.0  17.807  21.087  21.830  6.250   7.559  10.046
    논현동  177.0  164.0   74.0  11.497  12.426  12.273  6.610   8.817   9.091
    대치동  386.0  249.0  106.0  22.370  23.628  22.713  9.285  11.964  14.554
    도곡동  569.0  366.0  140.0  21.058  25.029  27.188  8.701  12.027  14.875
    삼성동  303.0  186.0   68.0  15.866  19.331  25.452  9.327  13.286  17.519
...        ...    ...    ...     ...     ...     ...    ...     ...     ...
중랑구 면목동  692.0  390.0   94.0   4.981   6.421   5.337  1.820   2.737   3.410
    묵동   456.0  249.0   76.0   5.910   7.132   5.221  2.128   2.811   2.978
    상봉동  433.0  211.0  226.0   5.369   7.195   4.348  2.467   3.257   2.740
    신내동  913.0  539.0   81.0   4.884   6.270   6.086  1.496   1.606   1.857
    중화동  188.0  112.0   23.0   5.008   6.349   4.273  1.453   1.958   3.159

[332 rows x 9 columns]

In [105]:
price['구'].unique()

array(['종로구', '중구', '용산구', '성동구', '광진구', '동대문구', '중랑구', '성북구', '강북구',
       '도봉구', '노원구', '은평구', '서대문구', '마포구', '양천구', '강서구', '구로구', '금천구',
       '영등포구', '동작구', '관악구', '서초구', '강남구', '송파구', '강동구'], dtype=object)

In [106]:
price['구'].nunique()

25

In [107]:
price['구'].value_counts()

노원구     13909
강서구      9322
구로구      8491
송파구      7432
성북구      7386
도봉구      6876
강동구      6801
강남구      6723
서초구      6194
영등포구     5998
양천구      5793
은평구      5724
동대문구     5496
중랑구      5089
동작구      5031
성동구      4920
마포구      4849
관악구      4604
서대문구     4558
강북구      3379
금천구      3093
용산구      2685
광진구      2310
중구       1835
종로구      1419
Name: 구, dtype: int64

In [108]:
price['구'].value_counts(ascending = True)

종로구      1419
중구       1835
광진구      2310
용산구      2685
금천구      3093
강북구      3379
서대문구     4558
관악구      4604
마포구      4849
성동구      4920
동작구      5031
중랑구      5089
동대문구     5496
은평구      5724
양천구      5793
영등포구     5998
서초구      6194
강남구      6723
강동구      6801
도봉구      6876
성북구      7386
송파구      7432
구로구      8491
강서구      9322
노원구     13909
Name: 구, dtype: int64

In [109]:
price['구'].value_counts().sort_index()

강남구      6723
강동구      6801
강북구      3379
강서구      9322
관악구      4604
광진구      2310
구로구      8491
금천구      3093
노원구     13909
도봉구      6876
동대문구     5496
동작구      5031
마포구      4849
서대문구     4558
서초구      6194
성동구      4920
성북구      7386
송파구      7432
양천구      5793
영등포구     5998
용산구      2685
은평구      5724
종로구      1419
중구       1835
중랑구      5089
Name: 구, dtype: int64

In [111]:
price['구'].value_counts(normalize = True) * 100

노원구     9.941
강서구     6.663
구로구     6.069
송파구     5.312
성북구     5.279
도봉구     4.914
강동구     4.861
강남구     4.805
서초구     4.427
영등포구    4.287
양천구     4.140
은평구     4.091
동대문구    3.928
중랑구     3.637
동작구     3.596
성동구     3.516
마포구     3.466
관악구     3.291
서대문구    3.258
강북구     2.415
금천구     2.211
용산구     1.919
광진구     1.651
중구      1.311
종로구     1.014
Name: 구, dtype: float64

In [126]:
pd.crosstab(
    index = price['구'], 
    columns = price['거래년도'], 
    margins = True, 
    margins_name = '합계', 
    normalize = 'index'
)

거래년도   2020   2021   2022
구
강남구   0.553  0.335  0.112
강동구   0.623  0.301  0.076
강북구   0.644  0.276  0.080
강서구   0.624  0.307  0.069
관악구   0.587  0.324  0.088
광진구   0.558  0.323  0.119
구로구   0.598  0.312  0.090
금천구   0.549  0.320  0.131
노원구   0.652  0.286  0.062
도봉구   0.666  0.276  0.059
동대문구  0.591  0.313  0.096
동작구   0.588  0.307  0.105
마포구   0.583  0.322  0.095
서대문구  0.602  0.317  0.081
서초구   0.537  0.354  0.109
성동구   0.618  0.309  0.073
성북구   0.612  0.320  0.068
송파구   0.623  0.287  0.090
양천구   0.602  0.326  0.072
영등포구  0.573  0.318  0.110
용산구   0.569  0.338  0.093
은평구   0.603  0.296  0.100
종로구   0.562  0.320  0.118
중구    0.560  0.334  0.106
중랑구   0.570  0.324  0.106
합계    0.602  0.310  0.087

In [127]:
%whos

Variable   Type              Data/Info
--------------------------------------
chardet    module            <module 'chardet' from 'C<...>s\\chardet\\__init__.py'>
cols       list              n=4
file       BufferedReader    <_io.BufferedReader name='APT_Prep.csv'>
fileName   str               APT_Prep.csv
imsi       DataFrame                            아파트   <...>139917 rows x 15 columns]
joblib     module            <module 'joblib' from 'C:<...>es\\joblib\\__init__.py'>
locs       Series            0         False\n1       <...>ngth: 139917, dtype: bool
np         module            <module 'numpy' from 'C:\<...>ges\\numpy\\__init__.py'>
os         module            <module 'os' (frozen)>
pd         module            <module 'pandas' from 'C:<...>es\\pandas\\__init__.py'>
price      DataFrame                            아파트   <...>139917 rows x 16 columns]
pvt        DataFrame                size         sum  <...>495  0.67  145.0  12,203원
sen        str               서울특별시 강남구 역삼동 1
strs       list              n=4
text       bytes             b'\xec\x95\x84\xed\x8c\x8<...>-12-29,59.99,7,55000\r\n'

In [128]:
%whos -v DataFrame

Variable   Type         Data/Info
---------------------------------
imsi       DataFrame                       아파트   <...>139917 rows x 15 columns]
price      DataFrame                       아파트   <...>139917 rows x 16 columns]
pvt        DataFrame           size         sum  <...>495  0.67  145.0  12,203원

In [129]:
df1 = price[price['거래금액'].ge(120)]
df2 = price[price['거래금액'].lt(120) & price['층'].ge(65)]

In [130]:
elong = price[['구', '금액구간']].value_counts()
elong

구     금액구간
노원구   5천 미만    13538
강서구   5천 미만     8486
구로구   5천 미만     8272
성북구   5천 미만     6993
도봉구   5천 미만     6840
은평구   5천 미만     5526
강남구   5천 이상     5202
중랑구   5천 미만     5032
동대문구  5천 미만     4897
강동구   5천 미만     4769
영등포구  5천 미만     4674
관악구   5천 미만     4483
송파구   5천 이상     4377
양천구   5천 미만     4095
서초구   5천 이상     4017
서대문구  5천 미만     3809
동작구   5천 미만     3487
강북구   5천 미만     3368
송파구   5천 미만     3055
금천구   5천 미만     2987
마포구   5천 미만     2932
성동구   5천 이상     2588
      5천 미만     2332
서초구   5천 미만     2177
강동구   5천 이상     2032
마포구   5천 이상     1917
양천구   5천 이상     1698
용산구   5천 이상     1619
동작구   5천 이상     1544
강남구   5천 미만     1521
중구    5천 미만     1468
광진구   5천 미만     1399
영등포구  5천 이상     1324
종로구   5천 미만     1196
용산구   5천 미만     1066
광진구   5천 이상      911
강서구   5천 이상      836
서대문구  5천 이상      749
동대문구  5천 이상      599
성북구   5천 이상      393
노원구   5천 이상      371
중구    5천 이상      367
종로구   5천 이상      223
구로구   5천 이상      219
은평구   5천 이상      198
관악구   5천 이상      121
금천구   5천 이상      106
중랑구   5천 이상       57
도봉구   5천 이상       36
강북구   5천 이상       11
dtype: int64

In [131]:
elong = elong.reset_index()
elong

       구   금액구간      0
0    노원구  5천 미만  13538
1    강서구  5천 미만   8486
2    구로구  5천 미만   8272
3    성북구  5천 미만   6993
4    도봉구  5천 미만   6840
5    은평구  5천 미만   5526
6    강남구  5천 이상   5202
7    중랑구  5천 미만   5032
8   동대문구  5천 미만   4897
9    강동구  5천 미만   4769
10  영등포구  5천 미만   4674
11   관악구  5천 미만   4483
12   송파구  5천 이상   4377
13   양천구  5천 미만   4095
14   서초구  5천 이상   4017
15  서대문구  5천 미만   3809
16   동작구  5천 미만   3487
17   강북구  5천 미만   3368
18   송파구  5천 미만   3055
19   금천구  5천 미만   2987
20   마포구  5천 미만   2932
21   성동구  5천 이상   2588
22   성동구  5천 미만   2332
23   서초구  5천 미만   2177
24   강동구  5천 이상   2032
25   마포구  5천 이상   1917
26   양천구  5천 이상   1698
27   용산구  5천 이상   1619
28   동작구  5천 이상   1544
29   강남구  5천 미만   1521
30    중구  5천 미만   1468
31   광진구  5천 미만   1399
32  영등포구  5천 이상   1324
33   종로구  5천 미만   1196
34   용산구  5천 미만   1066
35   광진구  5천 이상    911
36   강서구  5천 이상    836
37  서대문구  5천 이상    749
38  동대문구  5천 이상    599
39   성북구  5천 이상    393
40   노원구  5천 이상    371
41    중구  5천 이상    367
42   종로구  5천 이상    223
43   구로구  5천 이상    219
44   은평구  5천 이상    198
45   관악구  5천 이상    121
46   금천구  5천 이상    106
47   중랑구  5천 이상     57
48   도봉구  5천 이상     36
49   강북구  5천 이상     11

In [132]:
elong = elong.rename(columns = {0: '매매건수'})
elong

       구   금액구간   매매건수
0    노원구  5천 미만  13538
1    강서구  5천 미만   8486
2    구로구  5천 미만   8272
3    성북구  5천 미만   6993
4    도봉구  5천 미만   6840
5    은평구  5천 미만   5526
6    강남구  5천 이상   5202
7    중랑구  5천 미만   5032
8   동대문구  5천 미만   4897
9    강동구  5천 미만   4769
10  영등포구  5천 미만   4674
11   관악구  5천 미만   4483
12   송파구  5천 이상   4377
13   양천구  5천 미만   4095
14   서초구  5천 이상   4017
15  서대문구  5천 미만   3809
16   동작구  5천 미만   3487
17   강북구  5천 미만   3368
18   송파구  5천 미만   3055
19   금천구  5천 미만   2987
20   마포구  5천 미만   2932
21   성동구  5천 이상   2588
22   성동구  5천 미만   2332
23   서초구  5천 미만   2177
24   강동구  5천 이상   2032
25   마포구  5천 이상   1917
26   양천구  5천 이상   1698
27   용산구  5천 이상   1619
28   동작구  5천 이상   1544
29   강남구  5천 미만   1521
30    중구  5천 미만   1468
31   광진구  5천 미만   1399
32  영등포구  5천 이상   1324
33   종로구  5천 미만   1196
34   용산구  5천 미만   1066
35   광진구  5천 이상    911
36   강서구  5천 이상    836
37  서대문구  5천 이상    749
38  동대문구  5천 이상    599
39   성북구  5천 이상    393
40   노원구  5천 이상    371
41    중구  5천 이상    367
42   종로구  5천 이상    223
43   구로구  5천 이상    219
44   은평구  5천 이상    198
45   관악구  5천 이상    121
46   금천구  5천 이상    106
47   중랑구  5천 이상     57
48   도봉구  5천 이상     36
49   강북구  5천 이상     11

In [133]:
elong = elong.sort_values(by = ['구', '금액구간'])
elong

       구   금액구간   매매건수
29   강남구  5천 미만   1521
6    강남구  5천 이상   5202
9    강동구  5천 미만   4769
24   강동구  5천 이상   2032
17   강북구  5천 미만   3368
49   강북구  5천 이상     11
1    강서구  5천 미만   8486
36   강서구  5천 이상    836
11   관악구  5천 미만   4483
45   관악구  5천 이상    121
31   광진구  5천 미만   1399
35   광진구  5천 이상    911
2    구로구  5천 미만   8272
43   구로구  5천 이상    219
19   금천구  5천 미만   2987
46   금천구  5천 이상    106
0    노원구  5천 미만  13538
40   노원구  5천 이상    371
4    도봉구  5천 미만   6840
48   도봉구  5천 이상     36
8   동대문구  5천 미만   4897
38  동대문구  5천 이상    599
16   동작구  5천 미만   3487
28   동작구  5천 이상   1544
20   마포구  5천 미만   2932
25   마포구  5천 이상   1917
15  서대문구  5천 미만   3809
37  서대문구  5천 이상    749
23   서초구  5천 미만   2177
14   서초구  5천 이상   4017
22   성동구  5천 미만   2332
21   성동구  5천 이상   2588
3    성북구  5천 미만   6993
39   성북구  5천 이상    393
18   송파구  5천 미만   3055
12   송파구  5천 이상   4377
13   양천구  5천 미만   4095
26   양천구  5천 이상   1698
10  영등포구  5천 미만   4674
32  영등포구  5천 이상   1324
34   용산구  5천 미만   1066
27   용산구  5천 이상   1619
5    은평구  5천 미만   5526
44   은평구  5천 이상    198
33   종로구  5천 미만   1196
42   종로구  5천 이상    223
30    중구  5천 미만   1468
41    중구  5천 이상    367
7    중랑구  5천 미만   5032
47   중랑구  5천 이상     57

In [148]:
elong.head()

      구   금액구간  매매건수
29  강남구  5천 미만  1521
6   강남구  5천 이상  5202
9   강동구  5천 미만  4769
24  강동구  5천 이상  2032
17  강북구  5천 미만  3368

In [136]:
widen = elong.pivot(index = '구', columns = '금액구간', values = '매매건수')
widen

금액구간  5천 미만  5천 이상
구
강남구    1521   5202
강동구    4769   2032
강북구    3368     11
강서구    8486    836
관악구    4483    121
광진구    1399    911
구로구    8272    219
금천구    2987    106
노원구   13538    371
도봉구    6840     36
동대문구   4897    599
동작구    3487   1544
마포구    2932   1917
서대문구   3809    749
서초구    2177   4017
성동구    2332   2588
성북구    6993    393
송파구    3055   4377
양천구    4095   1698
영등포구   4674   1324
용산구    1066   1619
은평구    5526    198
종로구    1196    223
중구     1468    367
중랑구    5032     57

In [149]:
widen.head()

     구  5천 미만  5천 이상
0  강남구   1521   5202
1  강동구   4769   2032
2  강북구   3368     11
3  강서구   8486    836
4  관악구   4483    121

In [137]:
widen.index

Index(['강남구', '강동구', '강북구', '강서구', '관악구', '광진구', '구로구', '금천구', '노원구', '도봉구',
       '동대문구', '동작구', '마포구', '서대문구', '서초구', '성동구', '성북구', '송파구', '양천구', '영등포구',
       '용산구', '은평구', '종로구', '중구', '중랑구'],
      dtype='object', name='구')

In [138]:
widen.index.name

'구'

In [139]:
widen = widen.reset_index()
widen.head()

금액구간    구  5천 미만  5천 이상
0     강남구   1521   5202
1     강동구   4769   2032
2     강북구   3368     11
3     강서구   8486    836
4     관악구   4483    121

In [140]:
widen.columns

Index(['구', '5천 미만', '5천 이상'], dtype='object', name='금액구간')

In [141]:
widen.columns.name

'금액구간'

In [142]:
widen.columns.name = ''

In [144]:
widen.columns

Index(['구', '5천 미만', '5천 이상'], dtype='object', name='')

In [145]:
widen.columns.name = None

In [146]:
widen.columns

Index(['구', '5천 미만', '5천 이상'], dtype='object')

In [147]:
widen.head()

     구  5천 미만  5천 이상
0  강남구   1521   5202
1  강동구   4769   2032
2  강북구   3368     11
3  강서구   8486    836
4  관악구   4483    121

In [152]:
elong = widen.melt(
    id_vars = '구', 
    value_vars = ['5천 미만', '5천 이상'], 
    var_name = '금액구분', 
    value_name = '거래건수'
)

In [154]:
elong.sort_values(by = ['구', '금액구분']).reset_index(drop = True)

       구   금액구분   거래건수
0    강남구  5천 미만   1521
1    강남구  5천 이상   5202
2    강동구  5천 미만   4769
3    강동구  5천 이상   2032
4    강북구  5천 미만   3368
5    강북구  5천 이상     11
6    강서구  5천 미만   8486
7    강서구  5천 이상    836
8    관악구  5천 미만   4483
9    관악구  5천 이상    121
10   광진구  5천 미만   1399
11   광진구  5천 이상    911
12   구로구  5천 미만   8272
13   구로구  5천 이상    219
14   금천구  5천 미만   2987
15   금천구  5천 이상    106
16   노원구  5천 미만  13538
17   노원구  5천 이상    371
18   도봉구  5천 미만   6840
19   도봉구  5천 이상     36
20  동대문구  5천 미만   4897
21  동대문구  5천 이상    599
22   동작구  5천 미만   3487
23   동작구  5천 이상   1544
24   마포구  5천 미만   2932
25   마포구  5천 이상   1917
26  서대문구  5천 미만   3809
27  서대문구  5천 이상    749
28   서초구  5천 미만   2177
29   서초구  5천 이상   4017
30   성동구  5천 미만   2332
31   성동구  5천 이상   2588
32   성북구  5천 미만   6993
33   성북구  5천 이상    393
34   송파구  5천 미만   3055
35   송파구  5천 이상   4377
36   양천구  5천 미만   4095
37   양천구  5천 이상   1698
38  영등포구  5천 미만   4674
39  영등포구  5천 이상   1324
40   용산구  5천 미만   1066
41   용산구  5천 이상   1619
42   은평구  5천 미만   5526
43   은평구  5천 이상    198
44   종로구  5천 미만   1196
45   종로구  5천 이상    223
46    중구  5천 미만   1468
47    중구  5천 이상    367
48   중랑구  5천 미만   5032
49   중랑구  5천 이상     57

In [155]:
df1.columns.equals(df2.columns)

True

In [157]:
pd.concat(objs = [df1, df2], ignore_index = True)

,아파트,시,구,동,지번,건축년도,거래일,전용면적,층,거래금액,평당금액,거래년도,경과년수,거래월,금액구간,주소
0,파르크한남,서울특별시,용산구,한남동,410,2020,2021-12-13,268.950,2,120.00,14723.926,2021,1,12월,5천 이상,서울특별시 용산구 한남동 410
1,파르크한남,서울특별시,용산구,한남동,410,2020,2022-04-30,268.670,5,135.00,16581.680,2022,2,04월,5천 이상,서울특별시 용산구 한남동 410
2,PH129,서울특별시,강남구,청담동,129,2020,2022-04-28,273.960,16,145.00,17466.053,2022,2,04월,5천 이상,서울특별시 강남구 청담동 129
3,아크로서울포레스트,서울특별시,성동구,성수동1가,685-700,2020,2022-09-30,264.546,47,130.00,16216.461,2022,2,09월,5천 이상,서울특별시 성동구 성수동1가 685-700
4,현대하이페리온,서울특별시,양천구,목동,916,2003,2020-07-03,154.050,66,24.00,5141.188,2020,17,07월,5천 이상,서울특별시 양천구 목동 916
5,타워팰리스3,서울특별시,강남구,도곡동,467-29,2004,2020-07-25,235.740,67,54.25,7594.172,2020,16,07월,5천 이상,서울특별시 강남구 도곡동 467-29
6,타워팰리스3,서울특별시,강남구,도곡동,467-29,2004,2020-10-27,185.622,66,38.00,6755.665,2020,16,10월,5천 이상,서울특별시 강남구 도곡동 467-29
7,타워팰리스3,서울특별시,강남구,도곡동,467-29,2004,2021-06-24,214.967,66,45.80,7030.847,2021,17,06월,5천 이상,서울특별시 강남구 도곡동 467-29

In [158]:
df2 = df2.rename(columns = {'아파트': '아파트명'})

In [159]:
df1.columns.equals(df2.columns)

False

In [160]:
pd.concat(objs = [df1, df2], ignore_index = True)

,아파트,시,구,동,지번,건축년도,거래일,전용면적,층,거래금액,평당금액,거래년도,경과년수,거래월,금액구간,주소,아파트명
0,파르크한남,서울특별시,용산구,한남동,410,2020,2021-12-13,268.950,2,120.00,14723.926,2021,1,12월,5천 이상,서울특별시 용산구 한남동 410,NaN
1,파르크한남,서울특별시,용산구,한남동,410,2020,2022-04-30,268.670,5,135.00,16581.680,2022,2,04월,5천 이상,서울특별시 용산구 한남동 410,NaN
2,PH129,서울특별시,강남구,청담동,129,2020,2022-04-28,273.960,16,145.00,17466.053,2022,2,04월,5천 이상,서울특별시 강남구 청담동 129,NaN
3,아크로서울포레스트,서울특별시,성동구,성수동1가,685-700,2020,2022-09-30,264.546,47,130.00,16216.461,2022,2,09월,5천 이상,서울특별시 성동구 성수동1가 685-700,NaN
4,NaN,서울특별시,양천구,목동,916,2003,2020-07-03,154.050,66,24.00,5141.188,2020,17,07월,5천 이상,서울특별시 양천구 목동 916,현대하이페리온
5,NaN,서울특별시,강남구,도곡동,467-29,2004,2020-07-25,235.740,67,54.25,7594.172,2020,16,07월,5천 이상,서울특별시 강남구 도곡동 467-29,타워팰리스3
6,NaN,서울특별시,강남구,도곡동,467-29,2004,2020-10-27,185.622,66,38.00,6755.665,2020,16,10월,5천 이상,서울특별시 강남구 도곡동 467-29,타워팰리스3
7,NaN,서울특별시,강남구,도곡동,467-29,2004,2021-06-24,214.967,66,45.80,7030.847,2021,17,06월,5천 이상,서울특별시 강남구 도곡동 467-29,타워팰리스3

In [161]:
pd.concat(objs = [df1, df2], axis = 1)

,아파트,시,구,동,지번,건축년도,거래일,전용면적,층,거래금액,...,거래일,전용면적,층,거래금액,평당금액,거래년도,경과년수,거래월,금액구간,주소
126596,파르크한남,서울특별시,용산구,한남동,410,2020.0,2021-12-13,268.950,2.0,120.0,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
131283,파르크한남,서울특별시,용산구,한남동,410,2020.0,2022-04-30,268.670,5.0,135.0,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
132779,PH129,서울특별시,강남구,청담동,129,2020.0,2022-04-28,273.960,16.0,145.0,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
137418,아크로서울포레스트,서울특별시,성동구,성수동1가,685-700,2020.0,2022-09-30,264.546,47.0,130.0,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50867,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,...,2020-07-03,154.050,66.0,24.00,5141.188,2020.0,17.0,07월,5천 이상,서울특별시 양천구 목동 916
55000,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,...,2020-07-25,235.740,67.0,54.25,7594.172,2020.0,16.0,07월,5천 이상,서울특별시 강남구 도곡동 467-29
69573,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,...,2020-10-27,185.622,66.0,38.00,6755.665,2020.0,16.0,10월,5천 이상,서울특별시 강남구 도곡동 467-29
110650,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,...,2021-06-24,214.967,66.0,45.80,7030.847,2021.0,17.0,06월,5천 이상,서울특별시 강남구 도곡동 467-29

In [162]:
df1 = df1.reset_index(drop = True)
df2 = df2.reset_index(drop = True)

In [165]:
pd.concat(objs = [df1, df2], axis = 1)

,아파트,시,구,동,지번,건축년도,거래일,전용면적,층,거래금액,...,거래일,전용면적,층,거래금액,평당금액,거래년도,경과년수,거래월,금액구간,주소
0,파르크한남,서울특별시,용산구,한남동,410,2020,2021-12-13,268.950,2,120.0,...,2020-07-03,154.050,66,24.00,5141.188,2020,17,07월,5천 이상,서울특별시 양천구 목동 916
1,파르크한남,서울특별시,용산구,한남동,410,2020,2022-04-30,268.670,5,135.0,...,2020-07-25,235.740,67,54.25,7594.172,2020,16,07월,5천 이상,서울특별시 강남구 도곡동 467-29
2,PH129,서울특별시,강남구,청담동,129,2020,2022-04-28,273.960,16,145.0,...,2020-10-27,185.622,66,38.00,6755.665,2020,16,10월,5천 이상,서울특별시 강남구 도곡동 467-29
3,아크로서울포레스트,서울특별시,성동구,성수동1가,685-700,2020,2022-09-30,264.546,47,130.0,...,2021-06-24,214.967,66,45.80,7030.847,2021,17,06월,5천 이상,서울특별시 강남구 도곡동 467-29

In [166]:
cols1 = ['시', '구', '동', '지번']
cols2 = ['지번', '시', '구', '동']

In [167]:
df11 = df1[cols1]
df21 = df2[cols2]

In [168]:
df11

       시    구      동       지번
0  서울특별시  용산구    한남동      410
1  서울특별시  용산구    한남동      410
2  서울특별시  강남구    청담동      129
3  서울특별시  성동구  성수동1가  685-700

In [169]:
df21

       지번      시    구    동
0     916  서울특별시  양천구   목동
1  467-29  서울특별시  강남구  도곡동
2  467-29  서울특별시  강남구  도곡동
3  467-29  서울특별시  강남구  도곡동

In [170]:
df11.columns.equals(df21.columns)

False

In [171]:
pd.concat(objs = [df11, df21], ignore_index = True)

       시    구      동       지번
0  서울특별시  용산구    한남동      410
1  서울특별시  용산구    한남동      410
2  서울특별시  강남구    청담동      129
3  서울특별시  성동구  성수동1가  685-700
4  서울특별시  양천구     목동      916
5  서울특별시  강남구    도곡동   467-29
6  서울특별시  강남구    도곡동   467-29
7  서울특별시  강남구    도곡동   467-29

In [174]:
df21 = df21[df11.columns]

In [175]:
os.listdir()

['App_Usage.csv',
 'APT_Detail_Seoul_2022.csv',
 'APT_Detail_Seoul_2022.xlsx',
 'APT_Merged.csv',
 'APT_Merged.xlsx',
 'APT_Prep.csv',
 'APT_Price_Seoul_2020_2022.csv',
 'APT_Price_Seoul_2020_2022.xlsx',
 'APT_Price_Seoul_Copy.xlsx',
 'NA_Sample.xlsx',
 'Online_Mall.csv',
 'pivot_table.xlsx',
 'test.xlsx']

In [176]:
detail = pd.read_excel('APT_Detail_Seoul_2022.xlsx')

In [177]:
detail.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10290 entries, 0 to 10289
Data columns (total 12 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   아파트ID   10290 non-null  int64
 1   아파트명    10290 non-null  object
 2   지번주소    10290 non-null  object
 3   위도      10290 non-null  float64
 4   경도      10290 non-null  float64
 5   동수      10290 non-null  int64
 6   세대수     10290 non-null  int64
 7   임대수     10290 non-null  int64
 8   용적률     10290 non-null  int64
 9   건폐율     10290 non-null  int64
 10  주차대수    10290 non-null  int64
 11  건설사     9746 non-null   object
dtypes: float64(2), int64(7), object(3)
memory usage: 964.8+ KB

In [178]:
detail.head()

,아파트ID,아파트명,지번주소,위도,경도,동수,세대수,임대수,용적률,건폐율,주차대수,건설사
0,146479,YH빌리지,서울시 강남구 개포동 1237-8,37.478,127.047,1,16,0,297,59,9,(주)세담종합건설
1,119219,개포래미안포레스트,서울시 강남구 개포동 1282,37.478,127.054,31,2296,120,249,21,3961,삼성물산(주)
2,140057,개포비버리하임(도시형),서울시 강남구 개포동 1193-5,37.475,127.049,2,29,0,199,57,30,(주)덕인컨스텍
3,107513,개포상지리츠빌,서울시 강남구 개포동 176-1,37.487,127.060,1,18,0,202,31,41,상지건영(주)
4,8928,개포자이,서울시 강남구 개포동 12-2,37.496,127.077,4,212,0,250,18,502,LG건설(주)

In [180]:
len(set(price['아파트']) & set(detail['아파트명']))

2556

In [181]:
len(set(price['주소']) & set(detail['지번주소']))

0

In [182]:
price['주소']

0            서울특별시 종로구 필운동 254
1            서울특별시 종로구 사직동 9-1
2            서울특별시 종로구 내수동 167
3         서울특별시 종로구 내수동 110-15
4             서울특별시 종로구 내수동 95
                  ...
139912    서울특별시 강동구 암사동 493-14
139913     서울특별시 강동구 암사동 414-2
139914       서울특별시 강동구 암사동 509
139915     서울특별시 강동구 성내동 452-2
139916       서울특별시 강동구 강일동 114
Name: 주소, Length: 139917, dtype: object

In [183]:
detail['지번주소']

0        서울시 강남구 개포동 1237-8
1          서울시 강남구 개포동 1282
2        서울시 강남구 개포동 1193-5
3         서울시 강남구 개포동 176-1
4          서울시 강남구 개포동 12-2
                ...
10285    서울시 중랑구 중화동 318-81
10286     서울시 중랑구 중화동 19-16
10287       서울시 중랑구 중화동 450
10288    서울시 중랑구 중화동 274-51
10289        서울시 중랑구 중화동 11
Name: 지번주소, Length: 10290, dtype: object

In [184]:
price['주소'] = price['주소'].str.replace('특별', '')

In [185]:
len(set(price['주소']) & set(detail['지번주소']))

6773

In [187]:
for i in range(5):
    np.random.seed(seed = 1234)
    lotto = np.random.choice(a = range(1, 46), size = 6, replace = False)
    lotto.sort()
    print(lotto)

[ 9 15 26 35 40 45]
[ 9 15 26 35 40 45]
[ 9 15 26 35 40 45]
[ 9 15 26 35 40 45]
[ 9 15 26 35 40 45]

In [188]:
np.random.seed(1)

In [189]:
nums = np.random.choice(range(1, 5), 5)
nums

array([2, 4, 1, 1, 4])

In [190]:
nums = pd.Series(nums)
nums

0    2
1    4
2    1
3    1
4    4
dtype: int32

In [191]:
nums.duplicated()

0    False
1    False
2    False
3     True
4     True
dtype: bool

In [192]:
nums[nums.duplicated()]

3    1
4    4
dtype: int32

In [193]:
nums.duplicated(keep = 'last')

0    False
1     True
2     True
3    False
4    False
dtype: bool

In [194]:
nums[nums.duplicated(keep = 'last')]

1    4
2    1
dtype: int32

In [195]:
nums.duplicated(keep = False)

0    False
1     True
2     True
3     True
4     True
dtype: bool

In [196]:
nums[nums.duplicated(keep = False)]

1    4
2    1
3    1
4    4
dtype: int32

In [197]:
dup = detail['지번주소'].duplicated(keep = False)

In [199]:
detail[dup].sort_values(by = ['지번주소'])

,아파트ID,아파트명,지번주소,위도,경도,동수,세대수,임대수,용적률,건폐율,주차대수,건설사
18,419,대청,서울시 강남구 개포동 12,37.495,127.077,6,822,0,0,0,700,삼익건설(주)
19,483,대치2단지,서울시 강남구 개포동 12,37.495,127.075,11,1758,0,174,12,1758,"진덕산업(주),성원건설(주)"
8,1303,개포주공6단지,서울시 강남구 개포동 185,37.489,127.070,9,1060,0,0,0,300,대한주택공사
9,1307,개포주공7단지,서울시 강남구 개포동 185,37.490,127.072,8,900,0,0,0,400,대한주택공사
474,724,"현대6,7차",서울시 강남구 압구정동 456,37.530,127.029,15,1288,0,210,16,1120,NaN
475,27498,현대65동(대림아크로빌),서울시 강남구 압구정동 456,37.532,127.032,1,56,0,240,20,89,NaN
956,902,주공고층3단지,서울시 강동구 둔촌동 174-1,37.524,127.139,25,1480,0,0,0,1468,대한주택공사
959,901,주공저층2단지,서울시 강동구 둔촌동 174-1,37.523,127.136,36,900,0,0,0,630,대한주택공사
1325,133403,미사아름채(도시형),서울시 강동구 천호동 452-15,37.538,127.128,1,130,0,553,59,65,주식회사미사종합건설
1326,133402,미사아름채(주상복합),서울시 강동구 천호동 452-15,37.538,127.128,1,1,0,553,59,0,주식회사미사종합건설
1539,145243,"에피소드수유838(민간임대,도시형)",서울시 강북구 수유동 740,37.637,127.023,1,293,293,699,59,185,(주)태영건설
1540,145240,"에피소드수유838(민간임대,주상복합)",서울시 강북구 수유동 740,37.637,127.023,1,265,265,699,59,168,NaN
2569,123685,노들리안3(주상복합),서울시 관악구 봉천동 1667-13,37.482,126.955,1,1,0,408,52,0,신예종합개발(주)
2568,123686,노들리안3(도시형),서울시 관악구 봉천동 1667-13,37.482,126.955,1,21,0,408,52,11,신예종합개발(주)
2863,67,광장극동2차,서울시 광진구 광장동 218-1,37.544,127.105,11,896,0,0,0,795,극동건설
2875,66,극동1차,서울시 광진구 광장동 218-1,37.543,127.104,5,448,0,204,0,450,극동건설
2902,25418,MY,서울시 광진구 구의동 251-1,37.542,127.085,1,1,0,199,59,0,(주)원플러스 종합건설
2903,120820,MY(도시형),서울시 광진구 구의동 251-1,37.542,127.085,1,12,0,199,59,4,(주)원플러스 종합건설
3077,123905,테라팰리스건대2차,서울시 광진구 자양동 860,37.538,127.078,1,68,0,249,31,72,(주)주성종합건설
3078,123902,테라팰리스건대2차(도시형),서울시 광진구 자양동 860,37.538,127.078,1,10,0,249,31,8,(주)주성종합건설
3171,105912,화양타워(도시형),서울시 광진구 화양동 110-37,37.547,127.071,1,54,0,489,73,137,NaN
3172,14620,화양타워(주상복합),서울시 광진구 화양동 110-37,37.547,127.071,1,38,0,489,73,37,NaN
3157,119123,씨즈건대힐스,서울시 광진구 화양동 530,37.546,127.075,1,1,0,249,36,1,(주)신성건설
3158,116717,씨즈건대힐스(도시형),서울시 광진구 화양동 530,37.546,127.075,1,148,0,249,36,74,(주)신성건설
3380,102801,하나세인스톤2차(도시형),서울시 구로구 구로동 97-4,37.497,126.892,1,91,0,766,57,35,(주)하나종합개발
3381,110384,하나세인스톤2차(주상복합),서울시 구로구 구로동 97-4,37.497,126.892,1,9,0,776,57,3,(주)하나종합개발
4175,263,한신,서울시 노원구 하계동 284,37.638,127.069,4,1200,0,214,15,321,한신공영(주)
4166,25841,청구(284),서울시 노원구 하계동 284,37.638,127.069,5,660,0,214,15,330,청구
4677,109130,제이드파크,서울시 동대문구 장안동 382-2,37.570,127.069,1,12,0,489,59,6,재성건설주식회사
4678,109134,제이드파크(도시형),서울시 동대문구 장안동 382-2,37.570,127.069,1,28,0,489,59,14,재성건설주식회사
4806,127262,이문휘경지웰에스테이트(도시형),서울시 동대문구 휘경동 377,37.595,127.064,1,280,0,399,45,147,신영건설(주)
4807,126139,이문휘경지웰에스테이트(주상복합),서울시 동대문구 휘경동 377,37.595,127.064,1,33,0,399,45,37,신영건설(주)
4808,3379,주공1단지,서울시 동대문구 휘경동 57,37.583,127.071,13,1224,0,257,20,2513,(주)서한
4809,100207,주공2단지,서울시 동대문구 휘경동 57,37.583,127.070,7,800,0,257,20,1200,금호산업(주)
4916,374,극동,서울시 동작구 사당동 105,37.492,126.973,12,1550,0,248,18,981,극동건설(주)
4945,380,사당우성2단지,서울시 동작구 사당동 105,37.488,126.977,8,1080,0,248,18,1299,주식회사 우성건설
4946,381,사당우성3단지,서울시 동작구 사당동 105,37.490,126.975,6,855,0,248,18,1710,주식회사 우성건설
4963,378,신동아4차,서울시 동작구 사당동 105,37.490,126.978,8,912,0,248,18,912,신동아건설(주)
5152,148586,라이프(도시형),서울시 마포구 노고산동 54-21,37.555,126.934,1,12,0,359,58,8,부석종합건설(주)
5153,148587,라이프(주상복합),서울시 마포구 노고산동 54-21,37.555,126.934,1,2,0,359,58,1,부석종합건설(주)
5676,132162,더스타일하우스디센트럴(도시형),서울시 서대문구 충정로3가 480,37.561,126.962,2,300,300,464,53,115,대보건설(주)
5675,132163,더스타일하우스디센트럴,서울시 서대문구 충정로3가 480,37.561,126.962,2,199,199,464,53,137,대보건설(주)
6194,126357,훼미리타운,서울시 서초구 방배동 932-34,37.485,126.993,1,1,0,198,43,0,예림종합건설(주)
6195,106897,훼미리타운(도시형),서울시 서초구 방배동 932-34,37.485,126.993,1,27,0,198,43,19,예림종합건설(주)
7440,3754,장미2차,서울시 송파구 신천동 11,37.520,127.103,10,1302,0,0,0,1302,라이프주택
7441,622,장미3차,서울시 송파구 신천동 11,37.519,127.103,2,120,0,0,0,0,라이프주택
7433,620,미성,서울시 송파구 신천동 17-6,37.517,127.106,9,1230,0,0,0,2091,라이프주택개발(주)
7443,1284,크로바,서울시 송파구 신천동 17-6,37.516,127.107,2,120,0,0,0,264,라이프주택
8868,109469,한남아이파크(도시형),서울시 용산구 한남동 828,37.532,127.007,1,270,0,787,58,240,현대산업개발(주)
8869,109492,한남아이파크(주상복합),서울시 용산구 한남동 828,37.532,127.008,1,10,0,787,58,8,현대산업개발(주)
8937,119075,만연샌텀시티(도시형),서울시 은평구 갈현동 456-8,37.618,126.920,1,18,0,430,51,4,(주)프레인종합건설
8938,119076,만연샌텀시티(주상복합),서울시 은평구 갈현동 456-8,37.619,126.920,1,1,0,430,51,0,(주)프레인종합건설
9231,140893,미래하임(229-40),서울시 은평구 신사동 229-40,37.597,126.908,1,8,0,249,48,4,(주)모던종합건설
9232,140892,미래하임(도시형),서울시 은평구 신사동 229-40,37.597,126.908,1,10,0,249,48,5,(주)모던종합건설
9812,141501,세운푸르지오헤리시티,서울시 중구 인현동2가 151-1번지 일원,37.565,126.997,1,321,40,0,0,186,(주)대우건설
9813,131890,세운푸르지오헤리시티(도시형),서울시 중구 인현동2가 151-1번지 일원,37.565,126.997,1,293,0,0,0,162,(주)대우건설

In [202]:
detail = detail[~detail['지번주소'].duplicated()]

In [203]:
detail.shape[0]

10261

In [204]:
pd.merge(
    left = price, 
    right = detail[['지번주소', 'A', 'B', 'C']], 
    how = 'inner', 
    left_on = '주소', 
    right_on = '지번주소'
)

,아파트,시,구,동,지번,건축년도,거래일,전용면적,층,거래금액,...,지번주소,위도,경도,동수,세대수,임대수,용적률,건폐율,주차대수,건설사
0,신동아블루아광화문의꿈,서울특별시,종로구,필운동,254,2007,2020-01-03,111.97,6,10.000,...,서울시 종로구 필운동 254,37.576,126.970,1,28,0,515,59,39,(주)신동아종합건설
1,신동아블루아광화문의꿈,서울특별시,종로구,필운동,254,2007,2020-02-21,108.95,7,9.600,...,서울시 종로구 필운동 254,37.576,126.970,1,28,0,515,59,39,(주)신동아종합건설
2,신동아블루아광화문의꿈,서울특별시,종로구,필운동,254,2007,2021-10-25,111.97,8,14.000,...,서울시 종로구 필운동 254,37.576,126.970,1,28,0,515,59,39,(주)신동아종합건설
3,세종로대우,서울특별시,종로구,내수동,167,1994,2020-01-06,109.91,11,8.800,...,서울시 종로구 내수동 167,37.573,126.973,1,60,0,499,38,167,대우건설
4,세종로대우,서울특별시,종로구,내수동,167,1994,2020-02-20,66.96,12,6.150,...,서울시 종로구 내수동 167,37.573,126.973,1,60,0,499,38,167,대우건설
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
132808,더메종건대,서울특별시,광진구,화양동,23-5,2022,2022-12-23,17.78,12,2.585,...,서울시 광진구 화양동 23-5,37.548,127.067,1,99,0,659,59,56,NaN
132809,삼영N-CITY,서울특별시,은평구,응암동,96-19,2015,2022-12-24,45.91,6,3.170,...,서울시 은평구 응암동 96-19,37.601,126.926,1,18,0,339,55,15,(전)신원아키텍
132810,길훈로즈빌,서울특별시,양천구,신정동,1297,2002,2022-12-16,84.95,14,11.600,...,서울시 양천구 신정동 1297,37.523,126.871,1,49,0,259,17,56,길훈종합건설(주)
132811,길훈로즈빌,서울특별시,양천구,신정동,1297,2002,2022-12-19,84.95,14,11.600,...,서울시 양천구 신정동 1297,37.523,126.871,1,49,0,259,17,56,길훈종합건설(주)
132812,강동리버스트4단지,서울특별시,강동구,강일동,114,2020,2022-12-29,59.99,7,5.500,...,서울시 강동구 강일동 114,37.573,127.173,10,1239,597,202,21,1154,(주)두산건설

In [206]:
pd.merge(
    left = price, 
    right = detail, 
    how = 'outer', 
    left_on = '주소', 
    right_on = '지번주소'
)

,아파트,시,구,동,지번,건축년도,거래일,전용면적,층,거래금액,...,지번주소,위도,경도,동수,세대수,임대수,용적률,건폐율,주차대수,건설사
0,신동아블루아광화문의꿈,서울특별시,종로구,필운동,254,2007.0,2020-01-03,111.97,6.0,10.0,...,서울시 종로구 필운동 254,37.576,126.970,1.0,28.0,0.0,515.0,59.0,39.0,(주)신동아종합건설
1,신동아블루아광화문의꿈,서울특별시,종로구,필운동,254,2007.0,2020-02-21,108.95,7.0,9.6,...,서울시 종로구 필운동 254,37.576,126.970,1.0,28.0,0.0,515.0,59.0,39.0,(주)신동아종합건설
2,신동아블루아광화문의꿈,서울특별시,종로구,필운동,254,2007.0,2021-10-25,111.97,8.0,14.0,...,서울시 종로구 필운동 254,37.576,126.970,1.0,28.0,0.0,515.0,59.0,39.0,(주)신동아종합건설
3,광화문스페이스본(106동),서울특별시,종로구,사직동,9-1,2008.0,2020-01-02,163.33,2.0,16.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,광화문스페이스본(106동),서울특별시,종로구,사직동,9-1,2008.0,2020-06-22,150.40,7.0,14.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
143400,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,...,서울시 중랑구 중화동 326-46,37.596,127.072,1.0,10.0,0.0,199.0,52.0,7.0,(주)지에스엠건설
143401,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,...,서울시 중랑구 중화동 293-9,37.599,127.081,1.0,18.0,0.0,194.0,55.0,9.0,신복종합건설(주)
143402,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,...,서울시 중랑구 중화동 457,37.599,127.083,6.0,66.0,0.0,195.0,56.0,47.0,명성종합건설(주)
143403,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,...,서울시 중랑구 중화동 309-106,37.604,127.076,1.0,15.0,0.0,199.0,54.0,9.0,강건종합건설(주)
143404,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,...,서울시 중랑구 중화동 318-81,37.597,127.075,1.0,19.0,0.0,199.0,47.0,20.0,(주)프름에씨앤씨

In [208]:
pd.merge(
    left = price, 
    right = detail, 
    how = 'left', 
    left_on = '주소', 
    right_on = '지번주소'
)

,아파트,시,구,동,지번,건축년도,거래일,전용면적,층,거래금액,...,지번주소,위도,경도,동수,세대수,임대수,용적률,건폐율,주차대수,건설사
0,신동아블루아광화문의꿈,서울특별시,종로구,필운동,254,2007,2020-01-03,111.97,6,10.00,...,서울시 종로구 필운동 254,37.576,126.970,1.0,28.0,0.0,515.0,59.0,39.0,(주)신동아종합건설
1,광화문스페이스본(106동),서울특별시,종로구,사직동,9-1,2008,2020-01-02,163.33,2,16.20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,세종로대우,서울특별시,종로구,내수동,167,1994,2020-01-06,109.91,11,8.80,...,서울시 종로구 내수동 167,37.573,126.973,1.0,60.0,0.0,499.0,38.0,167.0,대우건설
3,킹스매너,서울특별시,종로구,내수동,110-15,2004,2020-01-09,194.43,4,13.00,...,서울시 종로구 내수동 110-15,37.573,126.971,1.0,18.0,0.0,273.0,49.0,49.0,(주)파라다이스건설산업
4,경희궁파크팰리스,서울특별시,종로구,내수동,95,2003,2020-01-20,148.09,8,14.90,...,서울시 종로구 내수동 95,37.574,126.971,3.0,142.0,0.0,0.0,0.0,329.0,삼성물산(주)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139912,중앙하이츠,서울특별시,강동구,암사동,493-14,1998,2022-12-03,59.52,8,5.30,...,서울시 강동구 암사동 493-14,37.551,127.132,1.0,126.0,0.0,278.0,30.0,137.0,(주)중앙건설
139913,롯데캐슬퍼스트,서울특별시,강동구,암사동,414-2,2008,2022-12-06,111.22,10,13.50,...,서울시 강동구 암사동 414-2,37.556,127.141,40.0,3226.0,0.0,276.0,13.0,4596.0,롯데건설(주)
139914,선사현대아파트,서울특별시,강동구,암사동,509,2000,2022-12-10,59.64,17,7.70,...,서울시 강동구 암사동 509,37.552,127.126,16.0,2938.0,0.0,393.0,22.0,3012.0,"현대건설(주), 현대산업개발(주)"
139915,파크뷰진도맨션,서울특별시,강동구,성내동,452-2,1996,2022-12-06,208.92,18,14.55,...,서울시 강동구 성내동 452-2,37.528,127.121,1.0,18.0,0.0,394.0,32.0,35.0,NaN
139916,강동리버스트4단지,서울특별시,강동구,강일동,114,2020,2022-12-29,59.99,7,5.50,...,서울시 강동구 강일동 114,37.573,127.173,10.0,1239.0,597.0,202.0,21.0,1154.0,(주)두산건설

In [209]:
price.columns

Index(['아파트', '시', '구', '동', '지번', '건축년도', '거래일', '전용면적', '층', '거래금액', '평당금액',
       '거래년도', '경과년수', '거래월', '금액구간', '주소'],
      dtype='object')

In [210]:
detail.columns

Index(['아파트ID', '아파트명', '지번주소', '위도', '경도', '동수', '세대수', '임대수', '용적률', '건폐율',
       '주차대수', '건설사'],
      dtype='object')

In [211]:
cols1 = ['아파트', '건축년도', '거래일', '전용면적', '층', '거래금액', '주소']
cols2 = ['지번주소', '세대수', '임대수', '용적률', '건폐율', '주차대수', '건설사']

In [212]:
pd.merge(
    left = price[cols1], 
    right = detail[cols2], 
    how = 'inner', 
    left_on = '주소', 
    right_on = '지번주소'
)

,아파트,건축년도,거래일,전용면적,층,거래금액,주소,지번주소,세대수,임대수,용적률,건폐율,주차대수,건설사
0,신동아블루아광화문의꿈,2007,2020-01-03,111.97,6,10.000,서울시 종로구 필운동 254,서울시 종로구 필운동 254,28,0,515,59,39,(주)신동아종합건설
1,신동아블루아광화문의꿈,2007,2020-02-21,108.95,7,9.600,서울시 종로구 필운동 254,서울시 종로구 필운동 254,28,0,515,59,39,(주)신동아종합건설
2,신동아블루아광화문의꿈,2007,2021-10-25,111.97,8,14.000,서울시 종로구 필운동 254,서울시 종로구 필운동 254,28,0,515,59,39,(주)신동아종합건설
3,세종로대우,1994,2020-01-06,109.91,11,8.800,서울시 종로구 내수동 167,서울시 종로구 내수동 167,60,0,499,38,167,대우건설
4,세종로대우,1994,2020-02-20,66.96,12,6.150,서울시 종로구 내수동 167,서울시 종로구 내수동 167,60,0,499,38,167,대우건설
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
132808,더메종건대,2022,2022-12-23,17.78,12,2.585,서울시 광진구 화양동 23-5,서울시 광진구 화양동 23-5,99,0,659,59,56,NaN
132809,삼영N-CITY,2015,2022-12-24,45.91,6,3.170,서울시 은평구 응암동 96-19,서울시 은평구 응암동 96-19,18,0,339,55,15,(전)신원아키텍
132810,길훈로즈빌,2002,2022-12-16,84.95,14,11.600,서울시 양천구 신정동 1297,서울시 양천구 신정동 1297,49,0,259,17,56,길훈종합건설(주)
132811,길훈로즈빌,2002,2022-12-19,84.95,14,11.600,서울시 양천구 신정동 1297,서울시 양천구 신정동 1297,49,0,259,17,56,길훈종합건설(주)
132812,강동리버스트4단지,2020,2022-12-29,59.99,7,5.500,서울시 강동구 강일동 114,서울시 강동구 강일동 114,1239,597,202,21,1154,(주)두산건설

In [213]:
detail = detail.rename(columns = {'지번주소': '주소'})

In [214]:
set(price.columns) & set(detail.columns)

{'주소'}

In [216]:
pd.merge(
    left = price, 
    right = detail, 
    how = 'inner', 
    on = '주소'
).shape[0]

132813

In [223]:
df3 = price[['아파트', '주소', '거래금액']]
df4 = detail[['아파트명', '주소', '세대수']]

In [224]:
set(df3.columns) & set(df4.columns)

{'주소'}

In [225]:
pd.merge(left = df3, right = df4, how = 'inner', on = '주소')

                아파트                 주소    거래금액               아파트명   세대수
0       신동아블루아광화문의꿈    서울시 종로구 필운동 254  10.000  신동아블루아광화문의꿈(주상복합)    28
1       신동아블루아광화문의꿈    서울시 종로구 필운동 254   9.600  신동아블루아광화문의꿈(주상복합)    28
2       신동아블루아광화문의꿈    서울시 종로구 필운동 254  14.000  신동아블루아광화문의꿈(주상복합)    28
3             세종로대우    서울시 종로구 내수동 167   8.800        세종로대우(주상복합)    60
4             세종로대우    서울시 종로구 내수동 167   6.150        세종로대우(주상복합)    60
...             ...                ...     ...                ...   ...
132808        더메종건대   서울시 광진구 화양동 23-5   2.585           더메종(도시형)    99
132809     삼영N-CITY  서울시 은평구 응암동 96-19   3.170     삼영N-CITY(주상복합)    18
132810        길훈로즈빌   서울시 양천구 신정동 1297  11.600              길훈로즈빌    49
132811        길훈로즈빌   서울시 양천구 신정동 1297  11.600              길훈로즈빌    49
132812    강동리버스트4단지    서울시 강동구 강일동 114   5.500          강동리버스트4단지  1239

[132813 rows x 5 columns]

In [226]:
df4 = df4.rename(columns = {'아파트명': '아파트'})

In [228]:
set(df3.columns) & set(df4.columns)

{'아파트', '주소'}

In [229]:
pd.merge(left = df3, right = df4, how = 'inner', on = '주소')

              아파트_x                 주소    거래금액              아파트_y   세대수
0       신동아블루아광화문의꿈    서울시 종로구 필운동 254  10.000  신동아블루아광화문의꿈(주상복합)    28
1       신동아블루아광화문의꿈    서울시 종로구 필운동 254   9.600  신동아블루아광화문의꿈(주상복합)    28
2       신동아블루아광화문의꿈    서울시 종로구 필운동 254  14.000  신동아블루아광화문의꿈(주상복합)    28
3             세종로대우    서울시 종로구 내수동 167   8.800        세종로대우(주상복합)    60
4             세종로대우    서울시 종로구 내수동 167   6.150        세종로대우(주상복합)    60
...             ...                ...     ...                ...   ...
132808        더메종건대   서울시 광진구 화양동 23-5   2.585           더메종(도시형)    99
132809     삼영N-CITY  서울시 은평구 응암동 96-19   3.170     삼영N-CITY(주상복합)    18
132810        길훈로즈빌   서울시 양천구 신정동 1297  11.600              길훈로즈빌    49
132811        길훈로즈빌   서울시 양천구 신정동 1297  11.600              길훈로즈빌    49
132812    강동리버스트4단지    서울시 강동구 강일동 114   5.500          강동리버스트4단지  1239

[132813 rows x 5 columns]

In [230]:
pd.merge(left = df3, right = df4, how = 'inner')

             아파트                  주소  거래금액   세대수
0           킹스매너  서울시 종로구 내수동 110-15  13.0    18
1           킹스매너  서울시 종로구 내수동 110-15  14.7    18
2           킹스매너  서울시 종로구 내수동 110-15  14.2    18
3           킹스매너  서울시 종로구 내수동 110-15   8.9    18
4           킹스매너  서울시 종로구 내수동 110-15  15.8    18
...          ...                 ...   ...   ...
53710      홍익봄마을  서울시 송파구 송파동 173-12   9.0    43
53711      흥화빌라트  서울시 광진구 광장동 188-27  15.5    19
53712      길훈로즈빌    서울시 양천구 신정동 1297  11.6    49
53713      길훈로즈빌    서울시 양천구 신정동 1297  11.6    49
53714  강동리버스트4단지     서울시 강동구 강일동 114   5.5  1239

[53715 rows x 4 columns]

In [231]:
apt = pd.merge(left = price, right = detail, how = 'inner', on = '주소')

In [232]:
apt.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 132813 entries, 0 to 132812
Data columns (total 27 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   아파트     132813 non-null  object
 1   시       132813 non-null  object
 2   구       132813 non-null  object
 3   동       132813 non-null  object
 4   지번      132813 non-null  object
 5   건축년도    132813 non-null  int64
 6   거래일     132813 non-null  datetime64[ns]
 7   전용면적    132813 non-null  float64
 8   층       132813 non-null  int64
 9   거래금액    132813 non-null  float64
 10  평당금액    132813 non-null  float64
 11  거래년도    132813 non-null  int64
 12  경과년수    132813 non-null  int64
 13  거래월     132813 non-null  object
 14  금액구간    132813 non-null  object
 15  주소      132813 non-null  object
 16  아파트ID   132813 non-null  int64
 17  아파트명    132813 non-null  object
 18  위도      132813 non-null  float64
 19  경도      132813 non-null  float64
 20  동수      132813 non-null  int64
 21  세대수     132813 non-null  int64
 22  임대수     132813 non-null  int64
 23  용적률     132813 non-null  int64
 24  건폐율     132813 non-null  int64
 25  주차대수    132813 non-null  int64
 26  건설사     129990 non-null  object
dtypes: datetime64[ns](1), float64(5), int64(11), object(10)
memory usage: 28.4+ MB

In [233]:
apt.columns

Index(['아파트', '시', '구', '동', '지번', '건축년도', '거래일', '전용면적', '층', '거래금액', '평당금액',
       '거래년도', '경과년수', '거래월', '금액구간', '주소', '아파트ID', '아파트명', '위도', '경도', '동수',
       '세대수', '임대수', '용적률', '건폐율', '주차대수', '건설사'],
      dtype='object')

In [234]:
apt = apt.drop(columns = ['주소', '아파트ID', '아파트명'])

In [235]:
%time apt.to_excel('test.xlsx', index = False)

CPU times: total: 57.8 s
Wall time: 1min 1s

In [236]:
%time apt.to_csv('test.csv', index = False)

CPU times: total: 1.48 s
Wall time: 1.76 s

In [237]:
%time joblib.dump(value = apt, filename = 'test.z')

CPU times: total: 359 ms
Wall time: 435 ms

['test.z']