In [1]:
# 라이브러리 호출
import os
import chardet
import joblib
import numpy as np
import pandas as pd

In [2]:
# 작업 경로 확인 및 변경
os.getcwd()

'C:\\Users\\hdsce\\Documents\\PythonDataAnalysis1\\live'

In [3]:
os.chdir('../data')

In [4]:
os.listdir()

['APT_Detail_Seoul_2022.csv',
 'APT_Detail_Seoul_2022.xlsx',
 'APT_Price_Seoul_2020_2022.csv',
 'APT_Price_Seoul_2020_2022.xlsx',
 'APT_Price_Seoul_2020_2022.z',
 'NA_Sample.xlsx',
 'online_mall.csv']

In [5]:
fileName = 'APT_Price_Seoul_2020_2022.csv'

In [6]:
text = open(fileName, mode = 'rb').read()

In [7]:
text[:100]

b'\xc1\xf6\xbf\xaa\xc4\xda\xb5\xe5,\xbe\xc6\xc6\xc4\xc6\xae,\xbd\xc3\xb5\xb5\xb8\xed,\xbd\xc3\xb1\xba\xb1\xb8,\xb9\xfd\xc1\xa4\xb5\xbf,\xc1\xf6\xb9\xf8,\xb0\xc7\xc3\xe0\xb3\xe2\xb5\xb5,\xb0\xc5\xb7\xa1\xc0\xcf,\xc0\xfc\xbf\xeb\xb8\xe9\xc0\xfb,\xc3\xfe,\xb0\xc5\xb7\xa1\xb1\xdd\xbe\xd7\n11110,\xbd\xc5\xb5\xbf\xbe\xc6\xba\xed\xb7\xe7\xbe\xc6\xb1\xa4\xc8'

chardet.detect(text)

In [8]:
# csv 파일 읽기(인코딩 방식: CP949)
price = pd.read_csv(fileName, encoding = 'CP949')

In [9]:
price.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 139919 entries, 0 to 139918
Data columns (total 11 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   지역코드    139919 non-null  int64
 1   아파트     139919 non-null  object
 2   시도명     139919 non-null  object
 3   시군구     139919 non-null  object
 4   법정동     139919 non-null  object
 5   지번      139879 non-null  object
 6   건축년도    139917 non-null  float64
 7   거래일     139919 non-null  object
 8   전용면적    139919 non-null  float64
 9   층       139919 non-null  int64
 10  거래금액    139919 non-null  object
dtypes: float64(2), int64(2), object(7)
memory usage: 11.7+ MB

In [10]:
# 열 삭제: 지역코드
price = price.drop(columns = ['지역코드'])

In [11]:
# 열이름 변경: 시, 구, 동
price.columns

Index(['아파트', '시도명', '시군구', '법정동', '지번', '건축년도', '거래일', '전용면적', '층', '거래금액'], dtype='object')

In [12]:
price.columns = ['아파트', '시', '구', '동', '지번', '건축년도', 
                 '거래일', '전용면적', '층', '거래금액']

In [13]:
price.head()

,아파트,시,구,동,지번,건축년도,거래일,전용면적,층,거래금액
0,신동아블루아광화문의꿈,서울특별시,종로구,필운동,254,2007.0,2020-01-03,111.97,6,"100,000"
1,광화문스페이스본(106동),서울특별시,종로구,사직동,9-1,2008.0,2020-01-02,163.33,2,"162,000"
2,세종로대우,서울특별시,종로구,내수동,167,1994.0,2020-01-06,109.91,11,"88,000"
3,킹스매너,서울특별시,종로구,내수동,110-15,2004.0,2020-01-09,194.43,4,"130,000"
4,경희궁파크팰리스,서울특별시,종로구,내수동,95,2003.0,2020-01-20,148.09,8,"149,000"

In [14]:
# 열 자료형 변환: 거래금액(정수), 거래일(날짜/시간)
price['거래금액'] = price['거래금액'].str.replace(',', '').astype(np.int64)
price['거래일'] = price['거래일'].astype(np.datetime64)

In [15]:
price.dtypes

아파트             object
시               object
구               object
동               object
지번              object
건축년도           float64
거래일     datetime64[ns]
전용면적           float64
층                int64
거래금액             int64
dtype: object

In [17]:
# 필터링: df1(120억 이상), df2(120억 미만 & 65층 이상)
df1 = price[price['거래금액'].ge(1200000)]
df1

,아파트,시,구,동,지번,건축년도,거래일,전용면적,층,거래금액
126596,파르크한남,서울특별시,용산구,한남동,410,2020.0,2021-12-13,268.950,2,1200000
131285,파르크한남,서울특별시,용산구,한남동,410,2020.0,2022-04-30,268.670,5,1350000
132781,PH129,서울특별시,강남구,청담동,129,2020.0,2022-04-28,273.960,16,1450000
137420,아크로서울포레스트,서울특별시,성동구,성수동1가,685-700,2020.0,2022-09-30,264.546,47,1300000

In [18]:
df2 = price[price['거래금액'].lt(1200000) & price['층'].ge(65)]
df2

,아파트,시,구,동,지번,건축년도,거래일,전용면적,층,거래금액
50867,현대하이페리온,서울특별시,양천구,목동,916,2003.0,2020-07-03,154.050,66,240000
55000,타워팰리스3,서울특별시,강남구,도곡동,467-29,2004.0,2020-07-25,235.740,67,542500
69573,타워팰리스3,서울특별시,강남구,도곡동,467-29,2004.0,2020-10-27,185.622,66,380000
110650,타워팰리스3,서울특별시,강남구,도곡동,467-29,2004.0,2021-06-24,214.967,66,458000

In [19]:
# 행이름 초기화: df1
df1 = df1.reset_index(drop = True)
df1

,아파트,시,구,동,지번,건축년도,거래일,전용면적,층,거래금액
0,파르크한남,서울특별시,용산구,한남동,410,2020.0,2021-12-13,268.950,2,1200000
1,파르크한남,서울특별시,용산구,한남동,410,2020.0,2022-04-30,268.670,5,1350000
2,PH129,서울특별시,강남구,청담동,129,2020.0,2022-04-28,273.960,16,1450000
3,아크로서울포레스트,서울특별시,성동구,성수동1가,685-700,2020.0,2022-09-30,264.546,47,1300000

In [20]:
price.isna().sum()

아파트      0
시        0
구        0
동        0
지번      40
건축년도     2
거래일      0
전용면적     0
층        0
거래금액     0
dtype: int64

In [21]:
price[price['지번'].isna()]

,아파트,시,구,동,지번,건축년도,거래일,전용면적,층,거래금액
5817,힐스테이트 서초 젠트리스,서울특별시,서초구,신원동,NaN,2014.0,2020-01-20,84.99,3,141000
5818,힐스테이트 서초 젠트리스,서울특별시,서초구,신원동,NaN,2014.0,2020-01-23,84.95,1,132000
13920,서초포레스타2단지,서울특별시,서초구,내곡동,NaN,2015.0,2020-02-08,59.21,13,105000
13925,힐스테이트 서초 젠트리스,서울특별시,서초구,신원동,NaN,2014.0,2020-02-22,114.90,1,147300
19081,서초포레스타2단지,서울특별시,서초구,내곡동,NaN,2015.0,2020-03-07,84.48,20,126500
42068,서초포레스타2단지,서울특별시,서초구,내곡동,NaN,2015.0,2020-06-13,84.48,14,130000
42079,서초포레스타2단지,서울특별시,서초구,내곡동,NaN,2015.0,2020-06-30,84.87,14,130000
54592,서초포레스타2단지,서울특별시,서초구,내곡동,NaN,2015.0,2020-07-05,84.48,14,134000
54593,서초포레스타2단지,서울특별시,서초구,내곡동,NaN,2015.0,2020-07-05,84.48,14,134000
54595,서초포레스타2단지,서울특별시,서초구,내곡동,NaN,2015.0,2020-07-06,84.87,15,133000
54603,서초포레스타2단지,서울특별시,서초구,내곡동,NaN,2015.0,2020-07-11,84.48,5,130000
54605,서초포레스타2단지,서울특별시,서초구,내곡동,NaN,2015.0,2020-07-12,59.21,11,115000
54621,힐스테이트 서초 젠트리스,서울특별시,서초구,신원동,NaN,2014.0,2020-07-09,84.95,4,145000
54625,힐스테이트 서초 젠트리스,서울특별시,서초구,신원동,NaN,2014.0,2020-07-18,84.95,8,148000
54628,힐스테이트 서초 젠트리스,서울특별시,서초구,신원동,NaN,2014.0,2020-07-27,101.90,3,163000
60635,서초포레스타2단지,서울특별시,서초구,내곡동,NaN,2015.0,2020-08-06,59.09,14,124000
60646,힐스테이트 서초 젠트리스,서울특별시,서초구,신원동,NaN,2014.0,2020-08-26,114.90,5,194000
60647,힐스테이트 서초 젠트리스,서울특별시,서초구,신원동,NaN,2014.0,2020-08-29,114.90,9,193000
69376,힐스테이트 서초 젠트리스,서울특별시,서초구,신원동,NaN,2014.0,2020-10-06,84.95,1,155000
75432,서초포레스타2단지,서울특별시,서초구,내곡동,NaN,2015.0,2020-11-06,59.09,5,125000
75437,힐스테이트 서초 젠트리스,서울특별시,서초구,신원동,NaN,2014.0,2020-11-18,84.95,9,159000
82968,서초포레스타2단지,서울특별시,서초구,내곡동,NaN,2015.0,2020-12-05,84.87,17,155000
82972,힐스테이트 서초 젠트리스,서울특별시,서초구,신원동,NaN,2014.0,2020-12-03,84.95,6,158000
89342,서초포레스타2단지,서울특별시,서초구,내곡동,NaN,2015.0,2021-01-12,84.48,8,160000
97584,서초포레스타2단지,서울특별시,서초구,내곡동,NaN,2015.0,2021-03-02,84.48,11,159000
97585,힐스테이트 서초 젠트리스,서울특별시,서초구,신원동,NaN,2014.0,2021-03-11,84.95,2,163000
101262,서초포레스타2단지,서울특별시,서초구,내곡동,NaN,2015.0,2021-04-06,84.48,21,154500
101263,서초포레스타2단지,서울특별시,서초구,내곡동,NaN,2015.0,2021-04-10,59.21,2,135000
101264,서초포레스타2단지,서울특별시,서초구,내곡동,NaN,2015.0,2021-04-20,84.87,14,155000
101270,힐스테이트 서초 젠트리스,서울특별시,서초구,신원동,NaN,2014.0,2021-04-15,101.90,4,187500
101272,힐스테이트 서초 젠트리스,서울특별시,서초구,신원동,NaN,2014.0,2021-04-27,101.90,3,184500
106151,서초포레스타2단지,서울특별시,서초구,내곡동,NaN,2015.0,2021-05-16,59.21,8,131000
106152,서초포레스타2단지,서울특별시,서초구,내곡동,NaN,2015.0,2021-05-18,84.87,1,151000
106156,힐스테이트 서초 젠트리스,서울특별시,서초구,신원동,NaN,2014.0,2021-05-26,84.95,4,165000
115150,힐스테이트 서초 젠트리스,서울특별시,서초구,신원동,NaN,2014.0,2021-07-26,84.99,7,182000
124735,서초포레스타2단지,서울특별시,서초구,내곡동,NaN,2015.0,2021-10-13,84.87,10,178000
126288,서초포레스타2단지,서울특별시,서초구,내곡동,NaN,2015.0,2021-11-11,84.41,9,160000
129553,서초포레스타2단지,서울특별시,서초구,내곡동,NaN,2015.0,2022-02-05,84.87,10,175000
135816,힐스테이트 서초 젠트리스,서울특별시,서초구,신원동,NaN,2014.0,2022-06-23,101.90,5,204000
137927,힐스테이트 서초 젠트리스,서울특별시,서초구,신원동,NaN,2014.0,2022-09-28,84.95,8,173000

In [24]:
price[price['지번'].isna()]['아파트'].value_counts()

서초포레스타2단지        22
힐스테이트 서초 젠트리스    18
Name: 아파트, dtype: int64

In [25]:
# 결측값 원본으로 채움: 서초포레스타2단지(384), 힐스테이트 서초 젠트리스(557)
price.loc[price['아파트'].eq('서초포레스타2단지'), '지번'] = '384'
price.loc[price['아파트'].eq('힐스테이트 서초 젠트리스'), '지번'] = '557'

In [27]:
# 결측값 있는 행 삭제: 건축년도
price = price[~price['건축년도'].isna()]

In [28]:
price.shape[0]

139917

In [29]:
# 건축년도 자료형 정수로 변환
price['건축년도'] = price['건축년도'].astype(np.int64)

In [30]:
# 파생변수 생성: 평당금액, 거래금액(억원), 거래년도
price['평당금액'] = price['거래금액'] / price['전용면적'] * 3.3

In [31]:
price['거래금액'] = price['거래금액'] / 10000

In [32]:
price['거래년도'] = price['거래일'].dt.year

In [33]:
price.head()

,아파트,시,구,동,지번,건축년도,거래일,전용면적,층,거래금액,평당금액,거래년도
0,신동아블루아광화문의꿈,서울특별시,종로구,필운동,254,2007,2020-01-03,111.97,6,10.0,2947.218005,2020
1,광화문스페이스본(106동),서울특별시,종로구,사직동,9-1,2008,2020-01-02,163.33,2,16.2,3273.128023,2020
2,세종로대우,서울특별시,종로구,내수동,167,1994,2020-01-06,109.91,11,8.8,2642.161769,2020
3,킹스매너,서울특별시,종로구,내수동,110-15,2004,2020-01-09,194.43,4,13.0,2206.449622,2020
4,경희궁파크팰리스,서울특별시,종로구,내수동,95,2003,2020-01-20,148.09,8,14.9,3320.278209,2020

In [34]:
# 파생변수 생성: 경과년수, 거래월, 금액구간, 주소
price['경과년수'] = price['거래년도'] - price['건축년도']

In [35]:
price['거래월'] = price['거래일'].dt.strftime('%m월')

In [36]:
locs = price['평당금액'].ge(5000)
locs

0         False
1         False
2         False
3         False
4         False
          ...
139914    False
139915    False
139916    False
139917    False
139918    False
Name: 평당금액, Length: 139917, dtype: bool

In [37]:
price['금액구분'] = np.where(locs, '5천 이상', '5천 미만')

In [38]:
price.columns

Index(['아파트', '시', '구', '동', '지번', '건축년도', '거래일', '전용면적', '층', '거래금액', '평당금액',
       '거래년도', '경과년수', '거래월', '금액구분'],
      dtype='object')

In [39]:
cols = ['시', '구', '동', '지번']
price[cols]

            시    구    동      지번
0       서울특별시  종로구  필운동     254
1       서울특별시  종로구  사직동     9-1
2       서울특별시  종로구  내수동     167
3       서울특별시  종로구  내수동  110-15
4       서울특별시  종로구  내수동      95
...       ...  ...  ...     ...
139914  서울특별시  강동구  암사동  493-14
139915  서울특별시  강동구  암사동   414-2
139916  서울특별시  강동구  암사동     509
139917  서울특별시  강동구  성내동   452-2
139918  서울특별시  강동구  강일동     114

[139917 rows x 4 columns]

In [40]:
price['주소'] = price[cols].apply(func = lambda x: ' '.join(x), axis = 1)

In [41]:
price.head()

,아파트,시,구,동,지번,건축년도,거래일,전용면적,층,거래금액,평당금액,거래년도,경과년수,거래월,금액구분,주소
0,신동아블루아광화문의꿈,서울특별시,종로구,필운동,254,2007,2020-01-03,111.97,6,10.0,2947.218005,2020,13,01월,5천 미만,서울특별시 종로구 필운동 254
1,광화문스페이스본(106동),서울특별시,종로구,사직동,9-1,2008,2020-01-02,163.33,2,16.2,3273.128023,2020,12,01월,5천 미만,서울특별시 종로구 사직동 9-1
2,세종로대우,서울특별시,종로구,내수동,167,1994,2020-01-06,109.91,11,8.8,2642.161769,2020,26,01월,5천 미만,서울특별시 종로구 내수동 167
3,킹스매너,서울특별시,종로구,내수동,110-15,2004,2020-01-09,194.43,4,13.0,2206.449622,2020,16,01월,5천 미만,서울특별시 종로구 내수동 110-15
4,경희궁파크팰리스,서울특별시,종로구,내수동,95,2003,2020-01-20,148.09,8,14.9,3320.278209,2020,17,01월,5천 미만,서울특별시 종로구 내수동 95

In [42]:
price.groupby(by = ['구'])['거래금액'].count()

구
강남구      6723
강동구      6801
강북구      3379
강서구      9322
관악구      4604
광진구      2310
구로구      8491
금천구      3093
노원구     13909
도봉구      6876
동대문구     5496
동작구      5031
마포구      4849
서대문구     4558
서초구      6194
성동구      4920
성북구      7386
송파구      7432
양천구      5793
영등포구     5998
용산구      2685
은평구      5724
종로구      1419
중구       1835
중랑구      5089
Name: 거래금액, dtype: int64

In [45]:
elong = price.groupby(by = ['구', '금액구분'])[['거래금액']].count()
elong.head(n = 10)

           거래금액
구   금액구분
강남구 5천 미만  1521
    5천 이상  5202
강동구 5천 미만  4769
    5천 이상  2032
강북구 5천 미만  3368
    5천 이상    11
강서구 5천 미만  8486
    5천 이상   836
관악구 5천 미만  4483
    5천 이상   121

In [47]:
elong = elong.reset_index()
elong.head(n = 10)

     구   금액구분  매매건수
0  강남구  5천 미만  1521
1  강남구  5천 이상  5202
2  강동구  5천 미만  4769
3  강동구  5천 이상  2032
4  강북구  5천 미만  3368
5  강북구  5천 이상    11
6  강서구  5천 미만  8486
7  강서구  5천 이상   836
8  관악구  5천 미만  4483
9  관악구  5천 이상   121

In [46]:
elong = elong.rename(columns = {'거래금액': '매매건수'})

In [48]:
elong.head()

     구   금액구분  매매건수
0  강남구  5천 미만  1521
1  강남구  5천 이상  5202
2  강동구  5천 미만  4769
3  강동구  5천 이상  2032
4  강북구  5천 미만  3368

In [50]:
widen = elong.pivot(index = '구', columns = '금액구분', values = '매매건수')
widen.head()

금액구분  5천 미만  5천 이상
구
강남구    1521   5202
강동구    4769   2032
강북구    3368     11
강서구    8486    836
관악구    4483    121